@import url(http://fonts.googleapis.com/earlyaccess/notosanstelugu.css);
.section-birbal-fever { padding: 30px 20px 200px 20px; background-color: #F5D76E }
.section-birbal-fever .container { text-align: center; }
.section-birbal-fever .caption { margin-bottom: 0; text-align: left; }
.section-birbal-fever h2 { font: 24px/24px 'notosanstelugu', serif; text-transform: uppercase; text-align: center; color: #c31; margin: 20px 20px 30px; }
.section-birbal-fever p { font: 16px/24px 'notosanstelugu', serif; color: #333; width: 460px; text-align: justify; margin: 0 auto;}
.section-birbal-fever .birbal-fever-leaf { margin-top: 60px; }

/* ---------------------- */
/* Device-specific styles */
/* ---------------------- */

/* Sub-tablet <768px */
@media (max-width: 768px) {
	.section-birbal-fever .container { width: 100%; }
	.section-birbal-fever p { max-width: 460px; width: auto; padding: 0 20px; }
}
