<link href="demos/telugu/birbal-khichdi.te.css" rel="stylesheet">
<div class="container-fluid section-birbal-khichdi" id="ybbkrishna">
  <div class="container">
      <a href="https://twitter.com/ybbkrishna" class="avatar" target="_blank" title="ybbkrishna"><img src="https://pbs.twimg.com/profile_images/446199185319022592/5b5W6bcL.jpeg" alt="ybbkrishna"></a>
      <div class="caption"><a href="#" target="_blank">Noto Sans Telugu</a></div>
      <h2>బీర్బల్ ఖిచడి</h2>
      <p>ఒక రోజు అక్బర్, బీర్బల్ తోటలో విహరిస్తుంటే ఒక బీద బ్రాహ్మడు ఎదురుపడ్డాడు. అతను అక్బర్ మహారాజును చూసి ఇలా మొరపెట్టుకున్నాడు.

“మహారాజా,  నేను మా కుమార్తెకి పెళ్ళి చేయాలనుకుంటున్నాను. పెళ్ళికి ఊరి జనాలందిరిని పిలిచి, భోజనం పెట్టి, మా అమ్మాయికి నగలు పట్టువస్త్రాలు పెట్టి, ఘనంగా సాగనంపాలన్నది  నా కొరిక. దీనికి నాకు వెయ్యి వరహాలు కావాలి. సంపాదించే మార్గం చెప్పండి”, అన్నాడు.
<br />
అక్బర్ మహారాజు ఆశ్చర్యపోయాడు. “నిన్ను చూస్తే చాలా బీద వాడిలా ఉన్నావు, నీ తాహతకు తగ్గట్టు పెళ్ళి చేయవచ్చు కదా, ఇంత ఘనంగా చేయాల్సిన అవసరం యేముంది?”, అని అడిగాడు.

“నాకున్నది ఒకటే బిడ్డ, ఇది నా జీవిత ఆశయం, సొమ్ము సంపాదించే మార్గం చెప్పండి మహారాజా”, అని బ్రాహ్మడు జవాబు చెప్పాడు.
<br />
అక్బర్కి బ్రాహ్మడు ఇలా తాహతుకి మించి పెళ్ళి చేయడం నచ్చలేదు. అతనికి బుద్ధి చెప్పాలనుకున్నాడు. తోట మధ్యలో ఒక చెరువు వుంది. “రాత్రంతా ఆ చెరువులో నిండా మునిగి నుంచుంటే నీకు వెయ్యి వరహాలు ఇస్తాను”, అని షరతు పెట్టాడు.

ఇప్పడిదాకా పక్కన నిశ్శబ్దంగా నిలపడి మాటలు వింటున్న బీర్బల్ ఆశ్చర్యపోయాడు. “మహారాజా! ఈ చలిలో బ్రాహ్మడు రాత్రంతా నీళ్ళల్లో నిలుచుంటే ప్రాణాలు పోకొట్టుకుంటాడేమో” అని అన్నాడు

దానికి బ్రాహ్మడు, “పరవాలేదు స్వామి, నేను నుంచుంటాను, నాకు వెయ్యి వరహాలు సంపాదించడానికి వేరే మార్గాలు యేమీ లేవు” అని బదులు చెప్పాడు.
<br />
రాత్రి అక్బర్ భటుల పర్యవేక్శణలో బ్రాహ్మడు చెరువులో మెడదాకా మునిగి నుంచున్నాడు.

తెల్లవారగానే అక్బర్, బీర్బల్ ఉత్సుకతతో చెరువు దగ్గిరకి వచ్చారు. భటులు బ్రాహ్మడిని నీటిలోంచి బయటికి లాగేరు.

బీర్బల్కి చాలా అశ్చర్యం చెందింది. “వృద్ధ బ్రాహ్మడా, ఇంత చలిలో రాత్రంతా యెలా నీటిలో నిలబడ్డావు?” అని అడిగాడు.
<br />
“రాత్రంతా దూరంగా కోటలో వెలుగుతున్న లాంతరలని చూస్తూ వాటి వెచ్చతనం తగులుతున్నట్టు ఊహించుకుంటూ నిలపడ్డాను స్వామి” అని ఆ బ్రాహ్మడు బదులు చెప్పాడు.

ఇది విన్న అక్బర్కి కోపం వచ్చింది. “అయితే నువ్వు మన షరతును ఉల్లంఘించావు. మా కోటలోంచి వస్తున్న వేడిని ఆనందిస్తూ నిలుచున్నావు. మన షరతును నేను రద్దు చెస్తున్నాను!” అన్నాడు.

ఆశాభంగమయిన బ్రాహ్మడు యేమి చేయాలో తెలియక, అక్బర్ మహారాజుతో వాదించలేక, నిరాశతో వెళ్ళిపోయాడు.

బీర్బల్కి ఇది చాలా అన్యాయం అనిపించింది. అక్బర్కు తెలిశేలా చెయ్యాలని నిశ్చయించుకున్నాడు.
<br />
మరునాడు అక్బర్ మహారాజుని బీర్బల్ తన ఇంటికి భోజనానికి పిలిచాడు. “మహారాజా నేను ఖిచడి చాలా బాగా చేస్తాను, మీరు ఇవాళ సాయంత్రం మా ఇంటికి వచ్చి రుచి చూడవలను” అని ఆహ్వానించాడు.

అక్బర్కు బీర్బల్ ఆహ్వానించే పద్ధతి బాగా నచ్చింది. “తప్పకుండా వస్తాను” అని మాటిచ్చాడు.

సాయంత్రం అక్బర్ తన మంత్రులతో, భటులతో బీర్బల్ ఇంటికి వెళ్ళాడు. బీర్బల్ చాల మర్యాదగా లోపలికి తీసుకుని వెళ్ళి, అక్బర్ని ఒక పీటపై కూర్చోపెట్టి, అతని ముందర పళ్ళెం మంచినినీళ్ళు సర్ది, “పెరట్లో వంట చేస్తున్నాను, ఇప్పుదే ఖిచడి తీసుకుని వస్తాను”, అంటూ మాయం అయిపోయాడు.
<br />
అక్బర్ కొంత సేపు ఒపిక పట్టాడు. కాని యెంత సేపయినా బీర్బల్ మళ్ళి రాలేదు. కొంచం సేపటికి బీర్బల్ యేమి చేస్తున్నాడు, అని కోపంగా బీర్బల్ను వెతుక్కుంటూ పెరట్లోకి వెళ్ళాడు.

అక్కడ బీర్బల్ ఒక చెట్టుకింద నిప్పు పెట్టుకుని కూర్చున్నాడు, కాని నిప్పు మీద వంట పాత్ర యేది లేదు.
<br />
“బీర్బల్! యేమి చేస్తున్నావు! ఇదేనా నువ్వు మాకు చేసే మర్యాద!” అని అక్బర్ కోపంగా అడిగాడు.
<br />
“మహారాజా! కోపగించుకోకండి! నేను వంట చేస్తున్నాను!” అన్నాడు బీర్బల్.

” ఎక్కడ చేస్తున్నావు? వంట పాత్రలు యేవి?” అన్నారు అక్బర్.
<br />
“అదుగో మహరాజ”, అని బీర్బల్ పైకి వెలుపెట్టి చూపించాడు. చెట్టుపైన కొమ్మకు తాడుపెట్టి ఒక కుండ వేళాడతీసి వుంది.
<br />
అక్బర్కు అరికాలి మంట నెత్తికి యెక్కింది. అసలే ఆకలి, ఆ పయిన ఇది.

“ఇంత దూరంగా కడితే దానికి మంట యెలా చేరుతుంది, ఖిచడి యెలా ఉడుకుతుంది?” అని క్రోధంగా అరిచాడు.
<br />
“అదేమిటి మహారాజా, అలా అంటారు? నిన్న బ్రాహ్మడికి చెరువులో నుంచున్నా యెక్కడో దూరంగా ఉన్న కోటలో వెచ్చతనం తగిలింది కదా, ఈ కుండకు కూడ అలాగే తగులుతుంది,” అని అమాయకంగా జవాబు చెప్పాడు బీర్బల్.

వెంటనే అక్బర్ తన తప్పును గ్రహించాడు. బీర్బల్ యుక్తికి మెచ్చి వెంటనే బీరల్ను ప్రశంసించాడు.

తెల్లారగానే ఆ బ్రాహ్మడికి న్యాయం చేయాలని నిర్ణయించుకున్నాడు.
<br />
బీర్బల్ అక్బర్ని, ఆయిన మంత్రులని, భటులనీ లోపలకి తీసుకుని వెళ్ళి ఖిచడితో పాటు పంచభక్ష్య పరవాన్నాలు వడ్డించి సత్కరించాడు.

మొన్నాడు అక్బర్ ఆ బ్రాహ్మడిని కోటకు పిలిచి, క్షమాపణ అడిగి, వెయ్యి బదులు రెందు వేల వరహాలు, పట్టు వస్త్రాలు ఇచ్చి మర్యాదగా మాట నిలపెట్టుకున్నాడు.

బ్రాహ్మడు తన కొరికమేర కు కూ
తురి పెళ్ళి ఘనంగా చేసి ఆ అమ్మయిని సంతోశంగా అత్తారింటికి పంపించాడు.</p>
  </div>
</div>