

<section id="boat" class='specimen'>
      
<div class="narrow"> 
    
    <div class="grid grid-pad">
        
    
       <div class="content">
           <div class="font_name"><a href="https://www.google.com/fonts/specimen/NTR" target="_blank">NTR</a></div>

        
       
           
 <h1>
           అందరూ నీ దగ్గర సంతోషంగా ఉంటున్నారంటే.. కొన్ని విషయాల దగ్గర నీవు compromise అవుతున్నట్లే... నీవు అందరి దగ్గర సంతోషంగా ఉండగలుగుతున్నావంటే... వారి తప్పులను మీరు పట్టించుకోకుండా బంధానికే ఎక్కువ విలువనిస్తున్నారని అర్ధం... <br />

   

 </h1>
    <img src="../images/boat.jpeg">

 </div>
</div> 
    </div> 
   
 
    <script>
       

    </script>
 </section>
  