

<section id="boat" class='specimen'>
      <div class="font_links">


    <div class="shadow_top"></div>
</div>
<div class="narrow"> 
    
    <div class="grid grid-pad">
        
               <div class="font_name"><a href="https://www.google.com/fonts/specimen/NTR" target="_blank">NTR</a></div>
       <div class="content">


        
       
           
 <h1 id="boat_head">
           అందరూ నీ దగ్గర సంతోషంగా ఉంటున్నారంటే.. <br /> కొన్ని విషయాల దగ్గర నీవు compromise అవుతున్నట్లే...<br /> నీవు అందరి దగ్గర సంతోషంగా ఉండగలుగుతున్నావంటే...<br /> వారి తప్పులను మీరు పట్టించుకోకుండా <br />బంధానికే ఎక్కువ విలువనిస్తున్నారని అర్ధం... <br />

   

 </h1>


 </div>
</div> 
    </div> 
   
 
 <script>
        $("#boat_head").fitText(2.1);
    </script>
 </section>
  