
<div class="container-fluid coins_te">
    <div class="container">
        
    
         <a href="https://twitter.com/pathumego" class="avatar" target="_blank" title="ybbkrishna">
            <img src="https://pbs.twimg.com/profile_images/431160368165961728/8Cz-MEYm_400x400.jpeg" alt="pathumego">
        </a>
       
       
<div class="caption"><a href="https://www.google.com/fonts/specimen/Rozha+One" target="_blank">Lakki Reddy</a><a href="https://www.google.com/fonts/specimen/Ek+Mukta" target="_blank">Peddana</a></div>
        <h2>నాణాల సంచి</h2>
        <img src="https://openclipart.org/people/casino/Bag.svg" />
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ఒక సారి ఒక చమురు వ్యాపారికి ఒక కసాయి వాడికి చాల పెద్ద గొడవ ఐపోయింది. విషయం తేలక ఇద్దరు బీర్బల్ దగ్గరకు వెళ్ళారు.
తగువు తీర్చమని బీర్బల్ ని అడిగారు.<br />
“అసలు గొడవ యేమిటి?” అని బీర్బల్ అడిగాడు.
అప్పుడు కసాయి వాడు ఇలా చెప్పాడు, “నేను మాంసం అమ్ముకుంటుంటే ఈ చమురు వ్యాపారి నా దుకాణానికి వచ్చి చమురు పోస్తానన్నాడు. పాత్ర తీసుకు రావడానికి నేను లోపలకి వెళ్ళి నప్పుడు ఇతను నా నాణాల సంచి తీసుకుని అది తనదే అని గొడవ చేస్తున్నాడు. నా డబ్బు సంచి నాకు ఇప్పించండి”
వెంటనే ఆ చమురు వ్యాపారి, “లేదు! అతను చెప్పేవన్నీ అబద్ధాలు. ఆ సంచి నాదే. నేను నాణాలు సంచి లోంచి తీసి లెక్ఖ పెడుతున్నాను. అది చూసి ఇతను దురాశతో నా సంచి కాచేయడానికి ప్రయత్నం చేస్తున్నాడు. న్యాయం చెప్పండి.” అన్నాడు.<br />
బీర్బల్ యెన్ని సార్లు అడిగినా వాళ్ళిద్దరు చెప్పిన మాటే మళ్ళి మళ్ళి అదే మాట చెప్ప సాగారు.
ఈ గమ్మత్తైన సమస్యకి బీర్బల్ ఒక యుక్తిని అలోచించాడు.
ఒక పెద్ద పాత్రలో నీళ్ళు తెప్పించాడు. ఆ నీళ్ళల్లోకి సంచిలో నాణాలు వేశాడు. వెంటనే ఆ పాత్రలో నీళ్ళపైన పలచగా నూనె తేలింది.
ఆ తెట్టు చూసిన వెంటనే ఆ సంచి చమురు వ్యాపరిదని అందరూ గ్రహించారు.
బీర్బల్ సంచిలో మళ్ళి నాణాలు నింపి చమురు వ్యాపరికి ఇచ్చేసాడు. ఆ కసాయిని కఠినంగా శిక్షించాడు.</p><br>
<br>
<br>

    </div>
</div>