/* 
* @Author: pathumego
* @Last Modified by: pathumego
*/

.coins_te {
    background: #f03c3c;
    padding: 60px 0 120px 0;
}
.coins_te img {
    width: 50%;
margin: 0 auto;
display: block;
}
}
.coins_te .container {
    position: relative;
    width: 100%;
}
.coins_te h2 {
    font: 70px/70px'Lakki Reddy', serif;
    text-transform: uppercase;
    text-align: center;
    color: #FFF;
    text-shadow: 5px 5px 20px #000, 0px 0px 40px black;
}
.coins_te p {
    font-family: 20px/30px;
    font-family: 'Peddana', serif;
    font-weight: 200;
    width: 40%;
    color: #fff;
    margin: 0 auto 23px auto;
    border-bottom: solid 1px rgba(255, 255, 255, .5);
    border-top: solid 1px rgba(255, 255, 255, .5);
    padding: 30px;
    column-gap: 40px;
    letter-spacing: 0.03em;
    line-height: 1.4;
}
.coins_te .caption a {
    color: #eee;
}
.coins_te .caption a:hover {
    background-color: #18a566;
}
/* ---------------------- */

/* Device-specific styles */

/* ---------------------- */

/* Sub-tablet <768px */

@media (max-width: 768px) {
    .coins_te .container {
        width: auto;
    }
    .coins_te h2 {
        font-size: 46px;
    }
    .coins_te p {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}