<link href="demos/telugu/garden-plants.te.css" rel="stylesheet">
<div class="container-fluid section-garden-plants" id="ybbkrishna">
  <div class="container">
      <a href="https://twitter.com/ybbkrishna" class="avatar" target="_blank" title="ybbkrishna"><img src="https://pbs.twimg.com/profile_images/446199185319022592/5b5W6bcL.jpeg" alt="ybbkrishna"></a>
      <div class="caption"><a href="#" target="_blank">Noto Sans Telugu</a></div>
      <h2>తోటలో మొక్కలు; అడవిలో చెట్లు</h2>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;అక్బర్ బాద్ షా తన ఇష్టమైన మంత్రి బీర్బల్ తో షికారుకు ఒక నాడు బయలుదేరాడు. దారిలో ఒక ఆటవిక స్త్రీ చెట్టుకింద కూర్చుని ఆయాస పడడం చూసారు.
కొంత సేపటికి తిరిగి కోట వైపు వెళ్తుంటే ఆ స్త్రీ ఒక బిడ్డకి జన్మనిచ్చి ఆ బిడ్డని గుడ్డల్లో చుట్టి, ప్రసవమైన ఆ ప్రదేశాన్ని శుభ్రం చేసి, తన దారిని చక చక బిడ్డను తీసుకుని వెళ్ళిపోయింది.
ఇది చూసిన అక్బర్ బాద్ షా బిడ్డను ప్రసవించడం అంత సునాయసమని అపోహ పడ్డారు.
ఇంటికి వచ్చి, గర్భవతి ఐన తన బేగంకి పరిచారకులు అవసరంలేదని, తన పనులు తనే చేసుకోవాలని చెప్పి, వాళ్ళను వేరే పనులు చేసుకోమని మళ్ళించారు.
నిండు గర్భవతి ఐన బేగం తన పనులు చేసుకోవటం అలవాటు లేక, చాలా ఇబ్బంది పడసాగింది.
తట్టుకోలేక ఒక రోజు బీర్బల్ను సహాయం అర్థించింది.
బీర్బల్ ఇంత నాజూకైన విషయం అక్బర్ బాద్ షా తో యెలా చెప్పాలని సతమతమయ్యాడు.
అలోచించగా ఒక ఉపాయం తట్టింది.
కోట లోని తోటమాలిని కొద్ది రోజులు మొక్కలకి నీళ్ళు పోయవద్దని చెప్పాడు.
రోజు తోటలో విహరించడం అలవాటైన అక్బర్ ఒక రోజు అలాగే తోటలో వుండగా మొక్కలు నీరసించి వాడిపోతూ వుండడం గమనించాడు. వెంటనే తోట మాలిని విషయం చెప్పమని ఆగ్రహించాడు.
తోట మాలి బీర్బల్ ఆదేశాననుసారం మొక్కలకు నీళ్ళు పోయటంలేదని చెప్పాడు.
క్రొధంతో అక్బర్ బీర్బల్ను పిలిపించాడు. “మొక్కలు నీళ్ళు లేకపోతే యెండిపోవ?” అని కోపంతో కేకలు వేయ సాగాడు.
బీర్బల్ అప్పుడు నిదానంగా, “బాద్ షా! అడవిలో పెద్ద పెద్ద వృక్షాలు యే తోట మాలి సహాయం లేకుండా, రోజు నీళ్ళు పోయకుండ, పెరిగాయికద? అలాగే మరి మన కోట లో తోటలకి ఇంత మంది సేవకులు యెందుకు?” అన్నాడు.
వెంటనే అక్బర్కు ఙ్యానోదయమయ్యింది. బీర్బల్ సున్నితంగా ఇచ్చిన సూచనను గ్రహించి వెంటనే రాణి గారికి పరిచారకులను పురమాయించాడు.<br>
<br>
</p>
  </div>
</div>