
<section id="intro_te">



    <div class="grid grid-pad">
      


       
                <h1 id="coming_soon">More Samples Coming Soon!<br />మరిన్ని నమూనాలు త్వరలో రానున్న !</h1>
                
                
            </div>




    <script>
        $("#invitation_head").fitText(.6, {minFontSize:'40px'});
     
        $(".dateinfo").fitText(.8, {
            maxFontSize: '38px'
        });
         $("#invi_body").fitText(1.2, { minFontSize: '14px', maxFontSize: '20px' });
      
    </script>
</section>
