
/* 
* Author: @pathumego 
* 
*
//* Invitationr*/

section#intro_te {

   display: block;
margin: 0 auto;
width: 100%;
max-width: 1200px;
padding: 0px 50px 100px 50px;
background: #184D69;


}

#intro_te h1 {

     font-family: 'NATS', serif;

    font-size: 80px;

    color: #B84E3B;

    padding-top: 60px;

    text-align: center;

    display: block;

    margin: 0% auto 0%;

}

h1#coming_soon{
   font-family: 'NATS', serif;
font-size: 60px;
color: #fff;
padding-top: 60px;
text-align: center;
display: block;
margin: 0% auto 0%;
}
}
#inro_te p {

    font-family: 'NATS', serif;

    font-size: 38px;

    color: #565656;

    padding-top: 30px;

    text-align: left;

    display: block;

    margin: 0% auto 0%;

    line-height: 1;

}

#intro_te p#invi_body {

    font-family: 'NATS', serif;

    font-size: 20px;

    color: #B84E3B;

    padding-top: 89px;

    text-align: left;

    display: block;

    margin: 0% auto 0%;

    line-height: 1.4;

}
}
@media only screen and (max-width: 480px) {}@media (min-width: 480px) and (max-width: 767px) {
    #intro_te {
        padding:20px;
    }
    #intro_te {
        padding: 0px 25px 25px 25px;
    }
}