
<div class="container-fluid section-fools-learn" id="ybbkrishna">
    <div class="container">
        
    
         <a href="https://twitter.com/pathumego" class="avatar" target="_blank" title="ybbkrishna">
            <img src="https://pbs.twimg.com/profile_images/431160368165961728/8Cz-MEYm_400x400.jpeg" alt="pathumego">
        </a>
       
       
<div class="caption"><a href="https://www.google.com/fonts/specimen/Rozha+One" target="_blank">Rozha One</a><a href="https://www.google.com/fonts/specimen/Ek+Mukta" target="_blank">Ek Mukta</a></div>
        <h2>हతెలుగు వెబ్ ఫాంట్లు</h2>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;భారత గణతంత్ర రాజ్యము నూటఇరవై కోట్లకు పైగా జనాభా తో ప్రపంచంలో అత్యధిక జనాభా కలిగిన దేశాలలో రెండవది. వైశాల్యము లో ప్రపంచంలో ఏడవది. భారత ఆర్ధిక వ్యవస్థ యొక్క స్థూల జాతీయోత్పత్తి( పర్చేసింగ్ పవర్ పారిటీ) ప్రకారం నాలుగో స్థానంలో ఉంది. ప్రపంచంలో అతివేగంగా వృద్ధి చెందుతున్న వ్యవస్థలలో ఇది ఒకటి. ప్రపంచం లోనే అతి పెద్ద స్వేచ్ఛాయుత ప్రజాస్వామ్యము ఐన భారతదేశం, ప్రపంచంలోనే అతి పెద్ద సైనిక సామర్థ్యం కలిగి ఉన్న దేశాలలో ఒకటిగా, అణ్వస్త్ర సామర్థ్యం కలిగన దేశంగా ఒక ముఖ్యమైన ప్రాంతీయ శక్తిగా ఆవిర్భవించినది.<br>

<br>
</p>
    </div>
</div>