
<div class="container-fluid into_te">
    <div class="container">
        
    
         <a href="https://twitter.com/pathumego" class="avatar" target="_blank" title="ybbkrishna">
            <img src="https://pbs.twimg.com/profile_images/431160368165961728/8Cz-MEYm_400x400.jpeg" alt="pathumego">
        </a>
       
       
<div class="caption"><a href="https://www.google.com/fonts/specimen/Rozha+One" target="_blank">Gidugu</a><a href="https://www.google.com/fonts/specimen/Ek+Mukta" target="_blank">NATS</a></div>
        <h2>Coming Soon!</h2>
      <h2>  త్వరలో వస్తుంది!</h2> 
        

<br>
</p>
    </div>
</div>