
<div class="font_links">
<div class="shadow_bottom"></div>
</div>

<section id="newspaper_te"> 
    <div class="font_name"><a href="https://www.google.com/fonts/specimen/Gidugu" target="_blank">Gidugu</a> & <a href="https://www.google.com/fonts/specimen/Ek+Mukta" target="_blank">Ek Mukta</a></div>

<div class="narrow"> 
    
<div class="caption"><a href="https://www.google.com/fonts/specimen/Ek+Mukta" target="_blank">Ek Mukta</a><a href="https://www.google.com/fonts/specimen/Hind" target="_blank"> Hind</a>
        </div>
    <div class="grid grid-pad">
    <div class="col-1-1">
       <div class="content">
          

        
        <p>
           న్యూ ఢిల్లీ: గ్రీన్  నుండి ఆకు విన్న నేరుగా విన్న లేదు. ఫారెస్ట్ మరియు దీర్ఘ పరిశ్రమ వ్యతిరేకంగా పోరాడాడు పర్యావరణ అనుమతులకు ఒక గొప్ప విజయం పొందడానికి అన్వేషిస్తుంది. దేశంలో TSR సుబ్రమణ్యం పర్యావరణ చట్టాలు, పవర్ కట్ తో గ్రీన్ ట్రిబ్యునల్ (NGT) పొల్యూషన్ కంట్రోల్ బోర్డు రివ్యూ కమిటీ అటువంటి ఎంటిటీలు తొలగించడానికి మద్దతిస్తుంది. పర్యావరణ మరియు అటవీ క్లియరెన్స్ కొన్ని చిట్కాలు ఉన్నాయి గ్రామ సభ ఆమోదం బాధ్యత తొలగించడానికి ఇది ఒక సింగిల్ విండో క్లియరెన్స్ వ్యవస్థ, సమర్ధించడం జరిగింది కమిటీ మార్గంలో చేయడానికి.
 
18 నవంబర్ చివరి నివేదిక TSR సుబ్రమణ్యం కమిటీ పర్యావరణ మరియు అటవీ శాఖ మంత్రి ప్రకాష్ జవదేకర్ సమర్పించారు. మంత్రిత్వ దాని సిఫార్సులు నిర్ణయానికి ఇంకా ఉంది. దేశంలో భాస్కర్ ముసాయిదా నివేదికలో పర్యావరణ కేసులు మరియు అడవులు అందుకున్న నగదు ఒక కొత్త చట్టం ఉంటుంది. అండర్ Anwaayrment మేనేజ్మెంట్ అథారిటీ జాతీయ మరియు రాష్ట్ర స్థాయిలలో రూపొందించినవారు ఉంటుంది. ఈ అధికారం ఆమోదం వివిధ ప్రాజెక్టులను బాధ్యతలు ఉంటాయి.
 

 
        </p>
  <hr>
        <h1 id="headline_te">
           గ్రీన్ ట్రిబ్యునల్ సిఫార్సు పలుకుబడి తగ్గించేందుకు ,
పొల్యూషన్ కంట్రోల్ బోర్డు ఉండొచ్చు</h1>
    
        <hr>
     <p>కూడా చాలా పరిమితంగా ఉంటుంది జోక్యం లేదా అధికార అవగాహనను పడుతుంది పర్యావరణం గ్రీన్ ట్రిబ్యునల్ పాల్గొన్న సందర్భాలలో వివిధ కోర్టుల్లో కొత్త చట్టం అమలు నుండి. ఎన్విరాన్మెంట్ మేనేజ్మెంట్ అథారిటీ ఒక retired న్యాయమూర్తి అధ్యక్షుడుగా ఉంటుంది ఒక పునర్విచారణ బోర్డుకు వ్యతిరేకంగా విచారణ కోసం హైకోర్టు నుంచి అనుమతి పొందింది. నేషనల్ గ్రీన్ ట్రిబ్యునల్ వద్ద విజ్ఞప్తి ఉండవచ్చు అయితే ఆమోదం, ఆరు నెలల 30 రోజుల లోపల విజ్ఞప్తి ఉండవచ్చు. బోర్డు నిర్ణయం వ్యతిరేకంగా అప్పీల్ విన్న గ్రీన్ ట్రిబ్యునల్, కానీ అలాంటి సందర్భాలలో టెక్నికల్ రివ్యూ లో పేరుతో నిర్ణయించబడతాయి.
 
  కమిటీ సభ్యుడు నుండి అందుకున్న సమాచారం ప్రకారం, సింగిల్ విండో క్లియరెన్స్ ఫారెస్ట్ ఏవ్ ఆమోదం ప్రక్రియలో వాతావరణంలో తీవ్ర మార్పులు అవసరం. దృష్టి తీసుకురావడానికి ఉపయోగిస్తారు ఫాస్ట్ ట్రాక్ ఆమోదం ప్రక్రియ సాంకేతిక మరియు శాస్త్రీయ పద్ధతులు పొందుటకు ఉంది.
         
          నేరుగా విన్న కాదు గ్రీన్ Troibusn
 
కమిటీ సిఫారసుల ప్రకారం, ఆకుపచ్చ వ్యతిరేకంగా ట్రిబ్యునల్ ప్రత్యక్షంగా విజ్ఞప్తి సాధ్యం కాదు అందుకుంది ప్రాజెక్టులను ఆమోదించింది. ఎవరికైనా వినడానికి ఉంటుంది హైకోర్టు రిటైర్డ్ న్యాయమూర్తి నేతృత్వంలో ఒక బోర్డు ముందు ప్రాజెక్టు ఆమోదం ఎలాంటి అభ్యంతరం కలిగి ఉంటే. కేసు నేషనల్ గ్రీన్ ట్రిబ్యునల్ బోర్డు నిర్ణయం తరువాత విజ్ఞప్తి ఉండవచ్చు. ప్రభుత్వం నిర్వహించింది ప్రాజెక్ట్ యొక్క పర్యావరణ ప్రభావం అంచనా కూడా గ్రీన్ ట్రిబ్యునల్ ప్రశ్నించారు కాదు. అక్రమ మైనింగ్ మరియు గ్రీన్ ట్రిబ్యునల్ పరిశ్రమ నిర్మాణానికి వ్యతిరేకంగా కఠినమైన నిర్ణయాలు లక్ష్యంగా ఉంది.
 
 
విలేజ్ కౌన్సిల్ ఆమోదం స్వాధీనం బాధ్యత కలవారు
 
రోడ్స్, గ్రామ సభ Liniyr ఆమోదం ప్రాజెక్ట్ అటవీ భూమి యొక్క ఉపయోగం కోసం విద్యుత్ మరియు వాయువు పంక్తులు కూడా తీసుకోవాలని బాధ్యత తొలగించడానికి సూచించారు. అటవీ హక్కుల చట్టం, 1980 ఇది గ్రామ సభ కింద పేరుతో ఉంది. Liniyr ప్రాజెక్ట్ గ్రామ సభ ఆమోదం కోరుకుంటారు లేదు కాబట్టి అటవీ హక్కుల చట్టం కింద సుబ్రమణ్యం కమిటీ నిర్ణయించడానికి అటవీ క్లియరెన్స్, ప్రక్రియలో మార్పులు దృష్టి కేంద్రీకరిస్తుంది.
 

 

 <span class="strong">- http://www.bhaskar.com/</span>
        </p>

   
    
  </div> 
 </div>
     
 
    </div>
    </div>
   
    
 
    <script src="jquery.fittext.js"></script>
    <script>
       
        $("#headline_te").fitText(.65, {maxFontSize: '59px'});
        $("#h1_big").fitText(.3, {maxFontSize: '350px'});
        $("#description_fit").fitText(.8, {maxFontSize: '100px'});
        $("#description_fit_big").fitText(.4, {maxFontSize: '200px'});
        $("#info").fitText(.9, {maxFontSize: '35px'});
       

    </script>
 </section>
  