
/* 
* Author: @pathumego 
* 
*
//* Invitationr*/
#invitation_te {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 0px 50px 100px 50px;
    background: url(../images/symphony.png) #000;

}
#invitation_te .font_name {
    color: #ADADAD; 
    display: inline-block;
    padding: 10px;
    background:rgb(224, 222, 222);
    position: absolute;
    margin-left: 50px;
    z-index: 1000;
}
#invitation_te .font_name a {
    color: #ADADAD;
}
#invitation_te .font_name a:hover {
color: #606060; 
}

#invitation_te h1 {
font-family: 'Dhurjati', sans-serif;
line-height: 1.2;
padding-top: 60px;
text-align: left;
display: block;
margin: 0% auto 0%;

    color: #636363;
font-weight:bold;
font-size: 123px;

}

#invitation_te p {
font-family: 'Mallanna', sans-serif;
font-size: 38px;
color: #565656;
padding-top: 30px;
text-align: left;
display: block;
margin: 0% auto 0%;
line-height: 1;
}

#invitation_te p#invi_body{
font-family: 'Mallanna', sans-serif;
color: #545454;
padding-top: 89px;
text-align: left;
display: block;
margin: 0% auto 0%;
line-height: 1.4;
}

}
@media only screen and (max-width: 480px) {

}

@media (min-width: 480px) and (max-width: 767px) {
   

   #invitation {
   
   padding: 20px;
}
    
#invitation {
   
    padding: 0px 25px 25px 25px;
}
    
}