@import url(http://fonts.googleapis.com/earlyaccess/ponnala.css);
@import url(http://fonts.googleapis.com/earlyaccess/lakkireddy.css);
.sample#vemana3 {
  background: #BE90D4;
  padding: 350px 0; }
  .sample#vemana3 .text {
    margin: 0 auto;
    padding: 0 20px;
    width: 610px; }
  .sample#vemana3 h1 {
    color: #00B16A;
    font: 400 30px/40px "ponnala";
    font-style: italic;
    margin: 0 0 10px 0;}
  .sample#vemana3 p {
    color: #F64747;
    font: 400 20px/30px "lakkireddy";
    letter-spacing: 1px;
    text-transform: uppercase;
    text-indent: -30px; }
