@import url(http://fonts.googleapis.com/earlyaccess/suranna.css);
@import url(http://fonts.googleapis.com/earlyaccess/ntr.css);
.sample#vemana7 {
  background: #81CFE0;
  padding: 350px 0; }
  .sample#vemana7 .text {
    margin: 0 auto;
    padding: 0 20px;
    width: 610px; }
  .sample#vemana7 h1 {
    color: #D35400;
    font: 400 30px/40px "suranna";
    font-style: italic;
    margin: 0 0 10px 0;}
  .sample#vemana7 p {
    color: #336E7B;
    font: 400 20px/30px "ntr";
    letter-spacing: 1px;
    text-transform: uppercase;
    text-indent: -30px; }
