<link href="demos/telugu/vemana1.te.css" rel="stylesheet">
<section class="sample" id="vemana1">
	<div class="container">&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="https://twitter.com/ybbkrishna" class="avatar" target="_blank" title="ybbkrishna"><img src="https://pbs.twimg.com/profile_images/446199185319022592/5b5W6bcL.jpeg" alt="ybbkrishna"></a>
        <div class="caption"><a target="_blank">mandali</a>,<a target="_blank">notosanstelugu</a></div>
    </div>
    <section class="text">
        <h1>ఉప్పుగప్పురంబు న్రొక్కపోలికనుండు<br>
చూడచూడ రుచుల జాడవేరు<br>
పురుషులందు పుణ్య పురుషులువేరయ<br>
విశ్వదాభిరామ వినుర వేమ</h1>
        <p>భావం - ఉప్పూ,కర్పూరం రెండూ చూడటానికి ఒకేలా ఉంటాయి.కానీ వాటి రుచులు మాత్రం వేరు వేరు.అలాగే పురుషుల్లో పుణ్యపురుషులు వేరుగా ఉంటారు.
</p>
  </section>
