@import url(http://fonts.googleapis.com/earlyaccess/notosanstelugu.css);
.section-vishnu-glory {
	font-family: 'notosanstelugu', serif;line-height: 1.5;
	background-color: #101010;
	color: #999;
	color: rgba(255,255,255,0.75);
	background-image: url(../../images/night.png);
	background-size: cover;
	background-attachment: fixed;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	-webkit-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
}
.section-vishnu-glory .container {
	width: 100%;
	overflow: hidden;
	padding: 40px 180px 140px;
	background-color: rgba(0,0,0,0.45);
	box-sizing: border-box;
}
.section-vishnu-glory .caption {
	margin-bottom: 40px;
	margin-left: 0;
}
.section-vishnu-glory h2 {
	font-size: 40px;
	font-weight: 300;
	margin-bottom: 10px;
	color: #FFF;
}
.section-vishnu-glory p {
	font-size: 20px;
	font-weight: 300;
}
.section-vishnu-glory .col {
	max-width: 420px;
	float: right;
}

/* ---------------------- */
/* Device-specific styles */
/* ---------------------- */

/* Sub-tablet <768px */
@media (max-width: 768px) {
	.section-vishnu-glory .col {float: none;}
	.section-vishnu-glory .container {background-color: rgba(0,0,0,0.75);padding-left:40px;padding-right:40px;padding-bottom:100px;}

}
