---
layout: page
langauge: Telugu
abouttranslation: గురించి<!-- This is for the About button on the menu. -->
---
<!-- Include your html file here. Follow the structure. -->
{% include telugu/intro.te.html %}
{% include telugu/attarintiki.te.html %}
{% include telugu/birbal-khichdi.te.html %}
{% include telugu/birbal-fever.te.html %}
{% include telugu/birbal-khichdi.te.html %}
{% include telugu/coin-bag.te.html %}
{% include telugu/garden-plants.te.html %}
{% include telugu/vishnu-glory.te.html %}


<!-- end of telugu.html content -->
