@import url(http://fonts.googleapis.com/earlyaccess/gurajada.css);
@import url(http://fonts.googleapis.com/earlyaccess/suravaram.css);
.sample#vemana9 {
  background: #DADFE1;
  padding: 350px 0; }
  .sample#vemana9 .text {
    margin: 0 auto;
    padding: 0 20px;
    width: 610px; }
  .sample#vemana9 h1 {
    color: #E67E22;
    font: 400 30px/40px "gurajada";
    font-style: italic;
    margin: 0 0 10px 0;}
  .sample#vemana9 p {
    color: #4ECDC4;
    font: 400 20px/30px "suravaram";
    letter-spacing: 1px;
    text-transform: uppercase;
    text-indent: -30px; }
