@import url(http://fonts.googleapis.com/earlyaccess/mandali.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanstelugu.css);
.sample#vemana1 {
  background: #9A12B3;
  padding: 350px 0; }
  .sample#vemana1 .text {
    margin: 0 auto;
    padding: 0 20px;
    width: 610px; }
  .sample#vemana1 h1 {
    color: #2ABB9B;
    font: 400 30px/40px "mandali";
    font-style: italic;
    margin: 0 0 10px 0;}
  .sample#vemana1 p {
    color: #90C695;
    font: 400 20px/30px "notosanstelugu";
    letter-spacing: 1px;
    text-transform: uppercase;
    text-indent: -30px; }
