@import url(http://fonts.googleapis.com/earlyaccess/mallanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/suranna.css);
.sample#vemana6 {
  background: #16a085;
  padding: 350px 0; }
  .sample#vemana6 .text {
    margin: 0 auto;
    padding: 0 20px;
    width: 610px; }
  .sample#vemana6 h1 {
    color: #BFBFBF;
    font: 400 30px/40px "mallanna";
    font-style: italic;
    margin: 0 0 10px 0;}
  .sample#vemana6 p {
    color: #BDC3C7;
    font: 400 20px/30px "suranna";
    letter-spacing: 1px;
    text-transform: uppercase;
    text-indent: -30px; }
