 {% include html_start.html %}
        <style>
                    {% include telugu/attarintiki.te.css %}
                    {% include telugu/birbal-fever.te.css %}
                    {% include telugu/birbal-khichdi.te.css %}
                    {% include telugu/coin-bag.te.css %}
                    {% include telugu/garden-plants.te.css %}
                    {% include telugu/vishnu-glory.te.css %}
                    {% include telugu/vemana1.te.css %}
                    {% include telugu/vemana2.te.css %}
                    {% include telugu/vemana3.te.css %}
                    {% include telugu/vemana4.te.css %}
                    {% include telugu/vemana5.te.css %}
                    {% include telugu/vemana6.te.css %}
                    {% include telugu/vemana7.te.css %}
                    {% include telugu/vemana8.te.css %}
                    {% include telugu/vemana9.te.css %}
        </style>
    </head>
    <body>
                    {% include home.html %}
                    {% include telugu/birbal-khichdi.te.html %}
                    {% include telugu/birbal-fever.te.html %}
                    {% include telugu/birbal-khichdi.te.html %}
                    {% include telugu/coin-bag.te.html %}
                    {% include telugu/garden-plants.te.html %}
                    {% include telugu/vishnu-glory.te.html %}
                    {% include telugu/vemana1.te.html %}
                    {% include telugu/vemana2.te.html %}
                    {% include telugu/vemana3.te.html %}
                    {% include telugu/vemana4.te.html %}
                    {% include telugu/vemana5.te.html %}
                    {% include telugu/vemana6.te.html %}
                    {% include telugu/vemana7.te.html %}
                    {% include telugu/vemana8.te.html %}
                    {% include telugu/vemana9.te.html %}    
                    {% include telugu/attarintiki.te.html %}
    </body>  
</html>