<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Bhargav Krishna" />
    <title>Google Hindi Web Fonts Typographic Project</title>
    <meta name="description" content="Awesome Hindi fonts">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

    <!-- Google web Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Oleo+Script|Monda|Unica+One|Alegreya:400italic,400|Abril+Fatface|Vollkorn' rel='stylesheet' type='text/css'>
    <!-- Typography Project stylesheet -->
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/demo.css" />
    <link rel="stylesheet" type="text/css" href="css/menu_topside.css" />
    <link href="css/hindi-fonts.css" rel="stylesheet">
    <!-- add javascripts -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/FitText.js/1.1/jquery.fittext.min.js"></script>
    <style>
     
                                     {% include telugu/attarintiki.te.css %}
                    {% include telugu/birbal-fever.te.css %}
                    {% include telugu/birbal-khichdi.te.css %}
                    {% include telugu/coin-bag.te.css %}
                    {% include telugu/garden-plants.te.css %}
                    {% include telugu/vishnu-glory.te.css %}
                    {% include telugu/vemana1.te.css %}
                    {% include telugu/vemana2.te.css %}
                    {% include telugu/vemana3.te.css %}
                    {% include telugu/vemana4.te.css %}
                    {% include telugu/vemana5.te.css %}
                    {% include telugu/vemana6.te.css %}
                    {% include telugu/vemana7.te.css %}
                    {% include telugu/vemana8.te.css %}
                    {% include telugu/vemana9.te.css %}
  
    
    </style>
    
</head>
    
    
<body ng-controller="MainCtrl as mainctrl">
        <div class="menu-wrap">
            <nav class="menu-top">
                <div class="profile"><span>Hindi Fonts Showcase</span></div>
                <div class="icon-list">
                    <a href="#" ng-repeat="language in mainctrl.languages" ng-click="mainctrl.changeLanguage(language.name)">{{language.label}}</a>
                </div>
            </nav>
            <nav class="menu-side">
                <a href="/index.html#introduction.en_us.html">Introduction</a>
                <a href="/about.en_us.html">About</a>
                <a href="/contact.en_us.html">Contact</a>
            </nav>
        </div>
        <button class="menu-button" id="open-button">Open Menu</button>
    <!-- slider container -->
        <div class="content-wrap">
            <div class="content">
                <div class="container-fluid">
                    <div class="container section-intro" id="introduction">
                        <h1>
                            <span class="small">Examples <i>of</i></span>
                            <em>Devanagari</em>
                            <span class="small"><i>with</i> new typefaces <i>from</i></span>
                            <em>Google Fonts</em>
                        </h1>
                        <div class="divider"></div>
                        <p>
                            In 2014 the <a href="https://www.google.com/fonts" target="_blank">Google Fonts</a> project began publishing a series of new Devanagari typefaces. This collaborative, ongoing project helps provide typographic inspiration for using Google’s new fonts for Hindi, Marathi and Nepali websites.
                        </p>
                        <div class="divider"></div>
                        <div class="divider"></div>
                       
                    </div>
                </div
				
            </div>
        </div>

    <script src="js/classie.js"></script>
    <script src="js/mainmenu.js"></script>
</body>
<head>
    
    </head>

<body>

             
                             {% include telugu/attarintiki.te.html %}
                    {% include telugu/birbal-fever.te.html %}
                    {% include telugu/birbal-khichdi.te.html %}
                    {% include telugu/coin-bag.te.html %}
                    {% include telugu/garden-plants.te.html %}
                    {% include telugu/vishnu-glory.te.html %}
                    {% include telugu/vemana1.te.html %}
                    {% include telugu/vemana2.te.html %}
                    {% include telugu/vemana3.te.html %}
                    {% include telugu/vemana4.te.html %}
                    {% include telugu/vemana5.te.html %}
                    {% include telugu/vemana6.te.html %}
                    {% include telugu/vemana7.te.html %}
                    {% include telugu/vemana8.te.html %}
                    {% include telugu/vemana9.te.html %}
  </body>  
    </html>