/* 
* @Author: Dave Crossland
* @Date:   2014-10-05
* @Last Modified by:   Dave Crossland
* @Last Modified time: 2014-10-05

This is derived from a Typekit Practice lesson:
http://practice.typekit.com/lesson/using-shades
*/
/* line 24, source string */
.section-icecream2 {
    background-color: #fcfefe;
}

/* line 26, source string */
.section-icecream2 {
    margin: 4em 0;
    text-align: center;
}
  /* line 29, source string */
.section-icecream2 b {
    font-family: "Ek Mukta", Verdana, sans-serif;
    font-size: 4em;
    color: #f3c83e;
}
/* line 37, source string */
.section-icecream2 em {
    display: block;
    margin-bottom: 0.5em;
    font-family: "Ek Mukta", Verdana, sans-serif;
    font-size: 8em;
    color: rgba(166, 192, 215, 0.7);
    text-shadow: -0.005em 0.01em #d9edf8, -0.01em 0.005em #d9edf8, -0.01em 0.015em #d9edf8, -0.015em 0.01em #d9edf8, -0.015em 0.02em #d9edf8, -0.02em 0.015em #d9edf8, -0.02em 0.025em #d9edf8, -0.025em 0.02em #d9edf8, -0.025em 0.03em #d9edf8, -0.03em 0.025em #d9edf8, -0.03em 0.035em #d9edf8, -0.035em 0.03em #d9edf8, -0.035em 0.04em #d9edf8, -0.04em 0.035em #d9edf8, -0.04em 0.045em #d9edf8, -0.045em 0.04em #d9edf8, -0.045em 0.05em #d9edf8, -0.05em 0.045em #d9edf8, -0.05em 0.055em #d9edf8, -0.055em 0.05em #d9edf8, -0.055em 0.06em #d9edf8, -0.06em 0.055em #d9edf8, -0.06em 0.065em #d9edf8, -0.065em 0.06em #d9edf8, -0.065em 0.07em #d9edf8, -0.06em 0.065em #f3f5fa, -0.06em 0.075em #f3f5fa, -0.055em 0.07em #f3f5fa, -0.055em 0.08em #f3f5fa, -0.05em 0.075em #f3f5fa, -0.05em 0.085em #f3f5fa, -0.045em 0.08em #f3f5fa, -0.045em 0.09em #f3f5fa, -0.04em 0.085em #f3f5fa, -0.04em 0.095em #f3f5fa, -0.035em 0.09em #f3f5fa, -0.035em 0.1em #f3f5fa, -0.03em 0.095em #f3f5fa, -0.03em 0.105em #f3f5fa, -0.025em 0.1em #f3f5fa, -0.025em 0.11em #f3f5fa, -0.02em 0.105em #f3f5fa, -0.02em 0.115em #f3f5fa, -0.015em 0.11em #f3f5fa, -0.015em 0.12em #f3f5fa, -0.01em 0.115em #f3f5fa, -0.01em 0.125em #f3f5fa, -0.005em 0.12em #f3f5fa, -0.005em 0.13em #f3f5fa, -0em 0.125em #f3f5fa, -0em 0.135em #f3f5fa, 0.005em 0.13em #f3f5fa, 0.005em 0.14em #f3f5fa, 0.01em 0.135em #f3f5fa, 0.01em 0.145em #f3f5fa, 0.015em 0.14em #f3f5fa, 0.015em 0.15em #f3f5fa, 0.02em 0.145em #f3f5fa, 0.02em 0.155em #f3f5fa, 0.025em 0.15em #f3f5fa, 0.025em 0.16em #f3f5fa, 0.03em 0.155em #f3f5fa, 0.03em 0.165em #f3f5fa, 0.035em 0.16em #f3f5fa, 0.035em 0.17em #f3f5fa;
}