<!--Replace ' example ' with neame of your example -->
<section class="container-fluid sample" id="example">
    <div class="container">
        <!--Add your Twitter URL-->
        <a href="https://twitter.com/twitterID" class="avatar" target="_blank">
            <!--Add your Twitter Prifle pic URL. You can get this by right click > Copy Image URL on your twitter profile page-->
            <img src="Twitter Profile Picture Link">
        </a>
        <!--Add Names of the font families used for example with link to Google Fonts specimen of the font family  -->
        <div class="caption"><a href="https://www.google.com/fonts/specimen/FONTNAME-1" target="_blank">FONTNAME-1</a>  <a href="https://www.google.com/fonts/specimen/FONTNAME-2" target="_blank">FONTNAME-2</a>
        </div>
        <!--Add your examample here. Try to make it a responsive design.  -->
        <div class="box">
            <h1>EXAMPLE</h1>
            <p>Mauris bibendum nec dui quis interdum. Morbi ut pellentesque dolor. Mauris sit amet eleifend odio. Quisque pellentesque quam vulputate libero auctor interdum. Nunc sed commodo mauris. Sed sodales, dui at mattis feugiat, felis tortor convallis sem, in tempus tortor nunc vel tellus. Fusce ligula nisi, efficitur in tempor non, lacinia sed mi. Aliquam ornare neque quis ipsum auctor iaculis. Donec mi ligula, scelerisque a laoreet ut, rutrum at elit. Donec non felis sit amet quam sagittis suscipit. Sed vitae rhoncus ipsum, at ullamcorper nulla. Curabitur luctus id lectus vel elementum. Sed aliquam dolor vel condimentum pretium. Morbi pellentesque quam felis, in aliquam nunc dictum sed.</p>
        </div>
        <!--Closing tags  -->

    </div>
</section>


