
 {% include nav.html %}
<div class="content-wrap">
    <div class="content">
        <div class="container-fluid">
            <div class="container section-intro" id="introduction">
                <h1>
                            <span class="small">Examples <i>of</i></span>
                            <em>Devanagari</em>
                            <span class="small"><i>with</i> new typefaces <i>from</i></span>
                            <em>Google Fonts</em>
                        </h1>
                <div class="divider"></div>
                <p>
                    In 2014 the <a href="https://www.google.com/fonts" target="_blank">Google Fonts</a> project began publishing a series of new Devanagari typefaces. This collaborative, ongoing project helps provide typographic inspiration for using Google’s new fonts for Hindi, Marathi and Nepali websites.
                </p>
                <p>
                    2014 में <a href="https://www.google.com/fonts" target="_blank"> Google Fonts </a> परियोजना नई देवनागरी टाइपफेस की एक श्रृंखला प्रकाशन शुरू किया . इस सहयोगी , परियोजना चल रही हिंदी , मराठी और नेपाली वेबसाइटों के लिए गूगल की नई फोंट का उपयोग के लिए मुद्रण प्रेरणा प्रदान करता है.
                </p>
                <div class="divider"></div>
                <div class="home-menu">
                   <a class="btn" href="/"> Hindi हिन्दी </a> <a class="btn" href="/telugu.html" >Telugu తెలుగు  </a> 
                </div>
                <div class="divider"></div>

            </div>
        </div>
    </div>

