<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>
        {{ page.title }}
    </title>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/site.css" />
    {{ if include.language == "telugu" }}
    <style>
        {% include telugu/attarintiki.te.css %}
        {% include telugu/birbal-fever.te.css %}
        {% include telugu/birbal-khichdi.te.css %}
        {% include telugu/coin-bag.te.css %}
        {% include telugu/garden-plants.te.css %}
        {% include telugu/vishnu-glory.te.css %}
        
        /*Hindi Styles Begin*/
        {% include hindi/bull-jackel.hi.css %}
        {% include hindi/copying.hi.css %}
        {% include hindi/copying.hi.css %}
        {% include hindi/drums.hi.css %}
        {% include hindi/eleven.hi.css %}
        {% include hindi/enemy-advice.hi.css %}
        {% include hindi/fools-learn.hi.css %}
        {% include hindi/gajraj.hi.css %}
        {% include hindi/gnat-bull.hi.css %}
        {% include hindi/golu-molu.hi.css %}
        {% include hindi/guests.hi.css %}
        {% include hindi/jackel.hi.css %}
    </style>
    {{ endif }}
  
</head>
<body>
