<div class="menu-wrap">
            <nav class="menu-top">
                <div class="profile"><span>Hindi Fonts Showcase</span></div>
                <div class="icon-list">
                    <a href="/telugu.html" >Telugu / తెలుగు  </a> <a href="/"> Hindi हिन्दी </a>
                </div>
            </nav>
            <nav class="menu-side">
                <a href="/index.html#introduction.en_us.html">Introduction</a>
                <a href="en_us/about.html">About</a>
                <a href="en_us/contact.html">Contact</a>
            </nav>
        </div>