<div class="menu-wrap">
    <nav class="menu-top">
        <div class="profile">
           <h1 class="sitename"><a href="{{ site.baseurl }}/">Libre Fonts Showcase</a></h1>
		</div>
    </nav>
    <nav class="menu-side">
		 <h2>Choose a Language:</h2>      
			<a href="{{ site.baseurl }}/hindi">Hindi हिन्दी</a>  
			<a href="{{ site.baseurl }}/telugu">Telugu తెలుగు</a> 
			<a href="http://femmebot.github.io/google-type/">English</a> 
         <a href="https://github.com/davelab6/librefonts.com/#readme" target="_blank" class="about">Add a Sample</a>
    </nav>
</div>
<button class="menu-button" id="open-button">Open Menu</button>
<script src="/js/mainmenu.js"></script>
<script src="/js/classie.js"></script>
