<div class="menu-wrap">
            <nav class="menu-top">
                <div class="profile"><a href="{{ site.baseurl }}"><span>Libre Fonts Showcase</span></a> </div>
                <div class="icon-list">
                   <a href="{{ site.baseurl }}/hindi"> Hindi हिन्दी </a> <a href="{{ site.baseurl }}/telugu" >Telugu / తెలుగు  </a> <a href="{{ site.baseurl }}/english" >Telugu / తెలుగు  </a> 
                </div>
            </nav>
            <nav class="menu-side">
               <a href="{{ site.baseurl }}/">Home</a>
<a href="{{ site.baseurl }}/{{ page.langauge}}/about">About</a>
<a href="{{ site.baseurl }}/{{ page.langauge}}/contact">Contact</a>
            </nav>
        </div>
<button class="menu-button" id="open-button">Open Menu</button>
    <script src="{{ site.baseurl }}/js/mainmenu.js"></script>
<script src="{{ site.baseurl }}/js/classie.js"></script>