.sample#Gertrude {
  background: #fcfaf2;
  padding: 350px 0; }
  .sample#Gertrude .text {
    margin: 0 auto;
    padding: 0 20px;
    width: 410px; }
  .sample#Gertrude h1 {
    color: #333;
    font: 400 20px/30px "Hind";
    font-style: italic;
    margin: 0 0 10px 0;
    text-indent: -6px; }
  .sample#Gertrude p {
    color: #c90707;
    font: 400 12px/18px "Hind";
    letter-spacing: 1px;
    text-transform: uppercase;
    text-indent: -13px; }
