.sample#Isaac {
    background: #f1c40f;
    padding: 250px 0;
}
.sample#Isaac .text {
    margin: 0 auto;
    padding: 0 20px;
    width: 800px;
}
.sample#Isaac h2 {
    color: #e67e22;
    font: 400 36px/1.4"Halant";
    font-style: italic;
    margin: 0 0 20px 0;
    text-align: left;
    text-indent: -10px;
}
.sample#Isaac h3 {
    color: #354b60;
    font: 400 24px/1.4"Rajdhani";
    margin: 0 0 20px 0;
    text-align: left;
    text-indent: -32px;
}
.sample#Isaac h3 em {
    font-style: italic;
}