.sample#jean {
    background: #2A2C39;
    padding: 250px 0;
}
.sample#jean .text {
    margin: 0 auto;
    padding: 0 20px;
    width: 800px;
}
.sample#jean h2 {
    color: #E9E9EB;
    font: 400 36px/1.4"Laila";
    font-style: italic;
    margin: 0 0 20px 0;
    text-align: left;
    text-indent: -10px;
}
.sample#jean h3 {
    color: #fff;
    font: 400 36px/1.4"Laila";
    margin: 0 0 20px 0;
    text-align: left;
    text-indent: -32px;
}
.sample#jean h3 em {
    font-style: italic;
}
