.sample#Marshall {
  background: #000;
  padding: 300px 0; }
  .sample#Marshall .text {
    margin: 0 auto;
    padding: 0 20px;
    width: 470px; }
  .sample#Marshall h1 {
    color: #fff;
    font: 400 92px/84px Laila; }
1 
