.sample#Oscar {
  background: #ec5e00;
  padding: 300px 0; }
  .sample#Oscar .text {
    margin: 0 auto;
    padding: 20px;
    width: 860px; }
  .sample#Oscar h1 {
    border-top: 5px solid #cbd0d3;
    color: #cbd0d3;
    font: 300 92px/1 "Halant";
    letter-spacing: -1px;
    margin: 0 0 0 -8px; }
    .sample#Oscar h1 span {
      background: #ec5e00;
      padding: 0 19px 0 0;
      position: relative;
      top: -52px; }
      .sample#Oscar h1 span.kern {
        background: transparent;
        margin: 0 0 0 -5px;
        padding: 0;
        top: 0; }
        .sample#Oscar h1 span.kern.push {
          margin: 0 0 0 7px; }
  .sample#Oscar p {
    color: #cbd0d3;
    font: 400 20px/30px "Palanquin";
    font-style: italic;
    margin: -40px 0 0 300px;
    text-indent: -16px; }
    .sample#Oscar p span {
      font-size: 28px;
      font-family: 'Palanquin', serif;;
      font-weight: 400;
      margin: 0 2px 0 0;
      position: relative;
      top: 5px; }
