<link href="http://fonts.googleapis.com/css?family=Rajdhani|Karma:400,500&subset=latin,devanagari" rel="stylesheet" type="text/css">
<link href="demos/hindi/quotes/Henri.hi.css" rel="stylesheet">
<section class="sample" id="Henri">
	<div class="background"></div>
	<div class="container">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="https://twitter.com/ybbkrishna" class="avatar" target="_blank" title="ybbkrishna"><img src="https://pbs.twimg.com/profile_images/446199185319022592/5b5W6bcL.jpeg" alt="ybbkrishna"></a>
        <div class="caption"><a href="https://www.google.com/fonts/specimen/Rajdhani" target="_blank">Rajdhani</a>
<a href="https://www.google.com/fonts/specimen/Karma" target="_blank">Karma</a></div>
    </div>
	<section class="text">
		  	<h2>“मैं चीजों को पेंट नहीं करता. मैं बस उनके बीच के अंतर को पेंट करता हूँ.”</h2>
		  	<h3>—हेनरी मतिस्से</h3>
	</section>
</section>