.sample#Jackson {
    background: #f2ca27;
    padding: 250px 0;
}
.sample#Jackson .text {
    margin: 0 auto;
    padding: 0 20px;
    width: 800px;
}
.sample#Jackson h2 {
    color: #95a5a6;
    font: 400 36px/1.4"Sarpanch";
    font-style: italic;
    margin: 0 0 20px 0;
    text-align: left;
    text-indent: -10px;
}
.sample#Jackson h3 {
    color: #8e44ad;
    font: 400 24px/1.4"Rajdhani";
    margin: 0 0 20px 0;
    text-align: left;
    text-indent: -32px;
}
.sample#Jackson h3 em {
    font-style: italic;
}