
/* 
* Author: @pathumego 
* 
*
//* Band Flyer*/

#bandflyer {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    font-family: 'Hind', sans-serif;
    background: #000;
    padding: 50px;
}
#bandflyer .font_name {
   color: #fff;
display: inline-block;
padding: 11px;
background: rgb(63, 62, 62);
position: absolute;
margin-top: -50px;
}
#bandflyer .font_name a {
color: #fff; 
}
#bandflyer h1 {
    
    /* Old browsers */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b3dced), color-stop(100%, #00aded));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #b3dced 0%, #00aded 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #b3dced 0%, #00aded 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #b3dced 0%, #00aded 100%);
    /* IE10+ */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#b3dced', endColorstr='#00aded', GradientType=0);
    /* IE6-9 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgba(48, 175, 255, 1);
    padding-top: 60px;
    text-align: left;
    display: block;
    margin: 0% auto 0%;
    line-height: 1;
}
section#bandflyer {
    background: #000;
    padding: 50px;
}
#bandflyer h2 {
    font: 95px/1"Hind";
    font-weight: 700;
    text-align: center;
    color: #fff;
}
#bandflyer #description_fit_big {
    font-weight: 600;
}
#bandflyer h3 {
    font: 95px/1"Hind";
    color: #D2F3FF;
    font-weight: 700;
}
#bandflyer #copyright {
    font-weight: 700;
    text-align: center;
    color: #888;
    margin-top: 100px;
}
@media only screen and (max-device-width: 480px) {
    #content {
        width: 100%;
    }
    body {
        background: #000;
    }
}