<div id="content">  

    <section id="bandflyer" class='specimen'>
                <p class="description" style="display: none;">content one description</p>
      
        <h1 id="headline">
            भारत की सिम्फनी </h1> <br /><h1 id="h1_big">ऑर्केस्ट्रा</span>
        

        <h2 id="description_fit">
            विशेष अतिथि के साथ 
            <span id="description_fit_big"> 
                <br />
                ए. आर. रहमान 
                <br />
            </span>
        </h2>
        <h3 id="info">
            जमशेद भाभा रंगमंच |  कला प्रदर्शन के लिए राष्ट्रीय केन्द्र पर | 29 नवंबर 2014 शनि
            <br /><br />meraevents.com से अब एक टिकट खरीदें और द्वार पर
        </h3>
        <p id="copyright">
            © 2014 INDIAN ENTERTAINMENT. All rights reserved / © 2014 भारतीय मनोरंजन .सर्वाधिकार सुरक्षित
        </p>

    </section>
    
    
    
    
</div>  
   
    <script>
       
        $("#headline").fitText(.65, {maxFontSize: '170px'});
        $("#h1_big").fitText(.3, {maxFontSize: '350px'});
        $("#description_fit").fitText(.8, {maxFontSize: '100px'});
        $("#description_fit_big").fitText(.4, {maxFontSize: '200px'});
        $("#info").fitText(.9, {maxFontSize: '35px'});
       

    </script>
