
<div class="font_links">
<div class="shadow_bottom"></div>
</div>

<section id="bird">  

<div class="narrow"> 
    
    <div class="grid grid-pad">
    
       <div class="content">
          

        
       
           
 <h1>
           जब तक गलती करने की<br /> स्वतंत्रता ना हो तब तक <br /> स्वतंत्रता  का कोई<br /> अर्थ नहीं है.<br />
<span>  - महात्मा गाँधी  </span>
   

 </h1>
    <img src="../images/bird.jpeg">

 </div>
</div> 
    </div> 
   
   
    <script src="jquery.fittext.js"></script>
    <script>
       
        $("#headline").fitText(.65, {maxFontSize: '170px'});
        $("#h1_big").fitText(.3, {maxFontSize: '350px'});
        $("#description_fit").fitText(.8, {maxFontSize: '100px'});
        $("#description_fit_big").fitText(.4, {maxFontSize: '200px'});
        $("#info").fitText(.9, {maxFontSize: '35px'});
       

    </script>
 </section>
  