

<section id="bird" class='specimen'>
      
<div class="narrow"> 
    
    <div class="grid grid-pad">
        
    
       <div class="content">
           <div class="font_name"><a href="https://www.google.com/fonts/specimen/Kalam" target="_blank">Kalam</a></div>

        
       
           
 <h1>
           जब तक गलती करने की<br /> स्वतंत्रता ना हो तब तक <br /> स्वतंत्रता  का कोई<br /> अर्थ नहीं है.<br />
<span>  - महात्मा गाँधी  </span>
   

 </h1>
    <img src="../images/bird.jpeg">

 </div>
</div> 
    </div> 
   
 
    <script>
       

    </script>
 </section>
  