 <a id="Kalam"></a>
<div class="font_links">
<div class="shadow_bottom"></div>
</div>

<section id="bird" class='specimen'>
                <p class="description" style="display: none;">Kalam description</p>
      

<div class="narrow"> 
    
    <div class="grid grid-pad">
    
       <div class="content">
          

        
       
           
 <h1>
           जब तक गलती करने की<br /> स्वतंत्रता ना हो तब तक <br /> स्वतंत्रता  का कोई<br /> अर्थ नहीं है.<br />
<span>  - महात्मा गाँधी  </span>
   

 </h1>
    <img src="../images/bird.jpeg">

 </div>
</div> 
    </div> 
   
 
    <script>
       

    </script>
 </section>
  