<link href='http://fonts.googleapis.com/css?family=Laila:400,500&subset=latin,devanagari' rel='stylesheet' type='text/css'>
<link href="demos/hindi/bull-jackel.hi.css" rel="stylesheet">
<div class="container-fluid section-bull-jackel" id="ybbkrishna">
    <div class="container">
        <div class="background"></div>
        <a href="https://twitter.com/ybbkrishna" class="avatar" target="_blank" title="ybbkrishna"><img src="https://pbs.twimg.com/profile_images/446199185319022592/5b5W6bcL.jpeg" alt="ybbkrishna"></a>
        <div class="caption"><a href="https://www.google.com/fonts/specimen/Laila" target="_blank">Laila</a></div>
        <div>
            <h2>सांड़ और गीदड़</h2>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;एक किसान के पास एक बिगडैल सांड़ था। उसने कई पशु सींग मारकर घायल कर दिए। आखिर तंग आकर उसने सांड़ को जंगल की ओर खदेड दिया।<br>
सांड़ जिस जंगल में पहुंचा, वहां खूब हरी घास उगी थी। आज़ाद होने के बाद सांड़ के पास दो ही काम रह गए। खूब खाना, हुंकारना तथा पेडों के तनों में सींग फंसाकर ज़ोर लगाना। सांड़ पहले से भी अधिक मोटा हो गया। सारे शरीर में ऐसी मांसपेशियां उभरी जैसे चमडी से बाहर छलक ही पडेंगी। पीठ पर कंधों के ऊपर की गांठ बढती-बढती धोबी के कपडों के गट्ठर जितनी बडी हो गई। गले में चमडी व मांस की तहों की तहें लटकने लगीं।<br>
उसी वन में एक गीदड़ व गीदड़ी का जोडा रहता था, जो बडे जानवरों द्वारा छोडे शिकार को खाकर गुजारा चलाते थे। स्वयं वह केवल जंगली चूहों आदि का ही शिकार कर पाते थे।<br>
संयोग से एक दिन वह मतवाला सांड़ झूमता हुआ उधर ही आ निकला जिदर गीदड़-गीदड़ी रहते थे। गीदड़ी ने उस सांड़ को देखा तो उसकी आंखे फटी की फटी रह गईं। उसने आवाज़ देकर गीदड़ को बाहर बुलाया और बोली 'देखो तो इसकी मांस-पेशियां। इसका मांस खाने में कितना स्वादिष्ट होगा। आह, भगवान ने हमें क्या स्वादिष्ट तोहफा भेजा है।<br>
गीदड़ ने गीदड़ी को समझाया 'सपने देखना छोडो। उसका मांस कितना ही चर्बीला और स्वादिष्ट हो, हमें क्या लेना।'<br>
गीदड़ी भडक उठी 'तुम तो भौंदू हो। देखते नहीं उसकी पीठ पर जो चर्बी की गांठ है, वह किसी भी समय गिर जाएगी। हमें उठाना भर होगा और इसके गले में जो मांस की तहें नीचे लटक रही हैं, वे किसी भी समय टूटकर नीचे गिर सकती है। बस हमें इसके पीछे-पीछे चलते रहना होगा।'<br>

<br>
</p>
<em>सीख -- अधिक लालच का फल सदा बुरा होता है।</em>
        </div>
    </div>
</div>