
<div class="font_links">
<div class="shadow_bottom"></div>
</div>

<section id="city">  
       

<div class="narrow"> 
    
    
    <div class="grid grid-pad">
        
    
       <div class="content">
      <div class="font_name"> <a href="https://www.google.com/fonts/specimen/Noto+Sans" target="_blank">Noto Sans</a></div>  
          

        
       
           
 <h1>
          " हम एक महान शहर में मिल अजीब क्या घटना है, <br /> हम सब करने की ज़रूरत टहलने हमारी आँखें खुली के साथ के बारे में है । <br /> मासूम राक्षसों के साथ जीवन ।.” <br />
<span>  - चार्ल्स बौडेलेर -</span>
   

 </h1>
    <img src="../images/city.jpg">

 </div>
</div> 
    </div> 
   
   
   
    <script>
       
   

    </script>
 </section>
  