<section id="classifieds">



    <div class="grid grid-pad">
        <div class="col-12-12">
            <div class="caption"><a href="https://www.google.com/fonts/specimen/Kalam" target="_blank">Kalam</a>  <a href="https://www.google.com/fonts/specimen/Laila" target="_blank">Laila</a>
            </div>

            <div class="col-3-12">

                <div class="box" id="cookery">
                    <h2>संगीत की कक्षाएं </h2>

                    <p>गिटार, पियानो, बंसी, - एक पेशेवर से सीख
                        <br />अब कॉल: 91675849302
                    </p>

                </div>

                <h1>शिक्षकों और कक्षाओं</h1> 

                <div class="box" id="cookery">
                    <h2>कुकरी क्लासेज</h2>
                    <img src="https://openclipart.org/people/johnny_automatic/baker.svg" />
                    <p>कच्चे भोज्य पदार्थों को खाने योग्य बनाने की कला को पाकक्रिया (cooking) कहते हैं। बहुत सी वस्तुएँ कच्ची खाई
                        <br><span>अब कॉल: 91987654321</span> 
                    </p>

                </div>


                <div class="box" id="advertise">
                    <h2>विज्ञापन</h2>

                    <p>अब से संपर्क करें
                        <br />ads@adindianow.in
                        <br />अब कॉल: 91987654321
                    </p>

                </div>


            </div>
            <div class="col-3-12">

                <h1>पेशेवर</h1>


                <div class="box">
                    <h2>नर्सिंग सेवा</h2>

                    <p>भरोसेमंद, प्रमाणित, दयालु

                        <br><span>अब कॉल: 91987654321</span> 
                    </p>

                </div>



                <div class="box">
                    <h2>हाथ की एक दूसरे सेट!   </h2>

                    <p>निजी सहायक : खरीदारी, पालतू जानवरों की देखभाल, आयोजन

                        <br><span>अब कॉल: 91987654321</span> 
                    </p>

                </div>
                <div class="box" id="cleaning">
                    <h2>सफाई: Pioneer Cleaning Services (Pvt ) Ltd.</h2>

                    <p>हमारे ग्राहकों को बेहतर सेवाएं देने और वार्षिक , द्विमासिक , मासिक और / या दैनिक आधार पर सेवाएं प्रदान करने के लिए हमें सक्षम करने के लिए आवश्यक के रूप में एक छोटे से व्यवसाय के रूप में हम हमारे कार्यक्रम समझौता करने के लिए समर्पित कर रहे हैं । हम ग्राहकों 1,2,3,4,5,6 , या प्रति सप्ताह 7 बार , एक या दो बार एक सप्ताह, एक बार या दो बार एक महीने, या प्रति वर्ष टाइम्स के किसी भी नहीं करने के लिए समझौतों सुविधाजनक बनाते हैं। हम भी तत्काल ध्यान देने की जरूरत है कि उन अवसरों के लिए आपात सफाई सेवाएं प्रदान करते हैं । हम भी एक समय में गहन सफाई सेवा करते हैं।
                    </p>

                </div>


            </div>




            <div class="col-6-12">

                <div class="box" id="building">

                    <img src="https://openclipart.org/people/netalloy/buildings_icon.svg" />
                    <h2>निर्माण सेवाएं कंपनी</h2>
                    <ul>
                        <li>- कंक्रीट मिश्रण - तैयार</li>
                        <li>- डिजाइन एवं संविदा बनाएँ</li>
                        <li>- निर्माण के ठेके</li>

                    </ul>
                    <p>व्यावसायिक आधारित , अत्यधिक एक समय पर ढंग से व्यक्तिगत उपलब्ध कराने के गुणवत्ता के निर्माण में प्रशिक्षित किया। अप्रत्याशित नौकरी लागत को कम करते हुए सटीक उत्पादन क्षेत्र के अनुभव के माध्यम से प्रदर्शन का आकलन । बढ़ी हुई स्थल की सुरक्षा के लिए एक सुसंगत आधार पर अंतर्राष्ट्रीय सुरक्षा नियमों के अनुरूप है। 
                        <br><span>indianconstruction123.com | अब कॉल: 91987654321<br /> info@indiancontruction123.com</span> 
                    </p>

                </div>
                <div class="box">
                    <h2>हाथ की एक दूसरे सेट!   </h2>

                    <p>निजी सहायक : खरीदारी, पालतू जानवरों की देखभाल, आयोजन

                        <br><span>अब कॉल: 91987654321</span> 
                    </p>

                </div>

            </div>
            <div class="col-3-12">
                <div class="box">
                    <h2>हाथ की एक दूसरे सेट!   </h2>

                    <p>निजी सहायक : खरीदारी, पालतू जानवरों की देखभाल, आयोजन

                        <br><span>अब कॉल: 91987654321</span> 
                    </p>

                </div>
            </div>
            <div class="col-3-12">
                <h1>पेशेवर</h1>
                <div class="box">
                    <h2>हाथ की एक दूसरे सेट!   </h2>

                    <p>निजी सहायक : खरीदारी, पालतू जानवरों की देखभाल, आयोजन

                        <br><span>अब कॉल: 91987654321</span> 
                    </p>

                </div>
            </div>
        </div>
</section>


