<section class="container-fluid sample" id="classifieds">
    <div class="container">
         <a href="https://twitter.com/pathumego" class="avatar" target="_blank" title="ybbkrishna">
            <img src="https://pbs.twimg.com/profile_images/431160368165961728/8Cz-MEYm_400x400.jpeg" alt="pathumego">
        </a>
        <div class="caption"><a href="https://www.google.com/fonts/specimen/Kalam" target="_blank">Kalam</a> <a href="https://www.google.com/fonts/specimen/Laila" target="_blank">Laila</a>
        </div>

        <div class="box">
            <h1>कुकरी क्लासेज</h1>
            <img src="https://openclipart.org/people/johnny_automatic/baker.svg" />
            <p>कच्चे भोज्य पदार्थों को खाने योग्य बनाने की कला को पाकक्रिया (cooking) कहते हैं।

बहुत सी वस्तुएँ कच्ची खाई जा सकती हैं और वे इसी रूप में खाने पर विशेष लाभप्रद भी होती हैं, परंतु बहुत सी वस्तुएँ ऐसी हैं जो कच्ची नहीं खाई जा सकती। कुस्वाद एवं हानिकारक होना दोनों ही इसके कारण हैं। कच्चा आलू, जमीकंद, केला आदि, कुस्वाद होते हैं। समस्त अनाज कच्चा खाने पर हानि पहुँचाते हैं। श्वेतसार से युक्त वस्तुएँ पकाकर खाने पर ही लाभप्रद होती हैं। उनका श्वेतसार पककर ही सुपाच्य होता है। ऐसे कच्चे भोज्य पदार्थ दो प्रकार से खाने योग्य बनाए जा सकते हैं, एक तो पकाकर, दूसरे सुरक्षित करके।
                <br><span>अब कॉल: 91987654321</span> 
            </p>

        </div>
    </div>

</section>


