<section class="container-fluid sample" id="classifieds">
    <div class="container">
         <a href="https://twitter.com/pathumego" class="avatar" target="_blank" title="ybbkrishna">
            <img src="https://pbs.twimg.com/profile_images/431160368165961728/8Cz-MEYm_400x400.jpeg" alt="pathumego">
        </a>
        <div class="caption"><a href="https://www.google.com/fonts/specimen/Kalam" target="_blank">Kalam</a> <a href="https://www.google.com/fonts/specimen/Laila" target="_blank">Laila</a>
        </div>

        <div class="box">
            <h1>कुकरी क्लासेज</h1>
            <img src="https://openclipart.org/people/johnny_automatic/baker.svg" />
            <p>DUMMY TEXT: राचीन काल में एक नदी के किनारे बसा नगर व्यापार का केन्द्र था। फिर आए उस नगर के बुरे दिन, जब एक वर्ष भारी वर्षा हुई। नदी ने अपना रास्ता बदल दिया। लोगों के लिए पीने का पानी न रहा और देखते ही देखते नगर वीरान हो गया अब वह जगह केवल चूहों के लायक़
                <br><span>अब कॉल: 91987654321</span> 
            </p>

        </div>
    </div>

</section>


