<section class="container-fluid sample" id="cricket">
    <div class="container">
        <a href="https://twitter.com/ybbkrishna" class="avatar" target="_blank" title="ybbkrishna">
            <img src="https://pbs.twimg.com/profile_images/446199185319022592/5b5W6bcL.jpeg" alt="ybbkrishna">
        </a>
        <div class="caption"><a href="https://www.google.com/fonts/specimen/Rozha+One" target="_blank">Ek Mukta and Hind</a>
        </div>

        <div class="box">
               <img src="https://openclipart.org/people/inky2010/Cricket_02.svg" />
           
            <h1>नभारतीय क्रिकेट टीम
                <br />भारतीय क्रिकेट टीम भारत का राष्ट्रीय क्रिकेट टीम है।भारतीय क्रिकेट नियंत्रण बोर्ड (बीसीसीआई) द्वारा संचालित भारतीय क्रिकेट टीम अंतरराष्ट्रीय क्रिकेट परिषद की पूर्णकालिक सदस्य है। भारतीय टीम दो बार क्रिकेट विश्वकप (1983 और 2011) अपने नाम कर चुकी है। वर्तमान में डंकन फ्लेचर भारतीय क्रिकेट टीम के कोच हैं।
            </h1>
        
       
            <p>यदपि भारत में क्रिकेट 18 वीं सदी में यूरोपीय व्यापारी नाविकों द्वारा लाया गया था, और भारत में पहला क्रिकेट क्लब 1792 में कलकत्ता में स्थापित किया गया था परन्तु राष्ट्रीय क्रिकेट टीम ने अपना पहला मैच लॉर्ड्स में 25 जून 1932 को खेला।[1] अपने पहले टेस्ट मैच खेलने के साथ ही विश्व में टेस्ट टीम की हैसियत पाने वाली छटवी टीम बन गयी। अपने पहले ५० वर्षों में टीम ने बहुत ही कमजोर प्रदर्शन किया, 196 टेस्ट मैचों में से केवल 35 मैच में ही जीत दर्ज करा पाई। 1970 के दशक से भारतीय क्रिकेट टीम एक शक्तिशाली टीम बनकर उभरी। 1983 में कपिल देव के नेतृत्व में बेस्टइंडीज को हराकर विश्वकप अपने नाम किया। सौरव गांगुली की कप्तानी में 2003 में उपविजेता रही एवं 2011 में महेंद्र सिंह धोनी की कप्तानी में भारत ने दूसरी बार विश्वकप जीता।
            </p>
        </div>
    </div>

</section>


