
/* 
* Author: @pathumego 
* 
*
//* Invitationr*/

#invitation {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 0px 50px 100px 50px;
    background: #ffdd32; /* Old browsers */
background: -moz-linear-gradient(top,  #ffdd32 0%, #fffb89 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffdd32), color-stop(100%,#fffb89)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffdd32 0%,#fffb89 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffdd32 0%,#fffb89 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffdd32 0%,#fffb89 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffdd32 0%,#fffb89 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdd32', endColorstr='#fffb89',GradientType=0 ); /* IE6-9 */

}

#invitation .font_name {
color: #fff; 
display:inline-block;
padding: 10px;
background: rgb(253, 183, 0);
}
#invitation .font_name a {
color: #fff; 
}
#invitation .font_name a:hover {
color: #5c5c5c; 
}
#invitation h1 {
    font-family:'Rozha One';
    font-size: 60px;
    color: #B84E3B;
    padding-top: 60px;
    text-align: left;
    display: block;
    margin: 0% auto 0%;
}
#invitation p {
    font-family: 'Rozha One';
font-size: 38px;
color: #565656;
padding-top: 30px;
text-align: left;
display: block;
margin: 0% auto 0%;
line-height: 1;
}

#invitation p#invi_body{
    font-family: 'Karma';
font-size: 20px;
color: #B84E3B;
padding-top: 89px;
text-align: left;
display: block;
margin: 0% auto 0%;
line-height: 1.4;
}

}
@media only screen and (max-width: 480px) {

}

@media (min-width: 480px) and (max-width: 767px) {
   

   #invitation {
   
   padding: 20px;
}
    
#invitation {
   
    padding: 0px 25px 25px 25px;
}
    
}