/* 
* @Author: Bhargav Krishna
* @Date:   2014-09-16 23:27:11
* @Last Modified by:   Bhargav Krishna
* @Last Modified time: 2014-09-17 01:35:43
*/

.sample#nietzsche {
    background: #4ab0fc;
    padding: 100px 0;
}
.sample#nietzsche .text {
    margin: 0 auto;
    padding: 0 20px;
    width: 800px;
}
.sample#nietzsche .excerpt {
    -moz-column-count: 2;
    -moz-column-gap: 50px;
    -webkit-column-count: 2;
    -webkit-column-gap: 50px;
}
.sample#nietzsche h1 {
    color: #222;
    font: 800 64px/64px"Ek Mukta";
    margin: 0 0 32px 0;
    text-align: center;
    width: 800px;
}
.sample#nietzsche h1 span {
    font: 400 40px/60px"Ek Mukta";
 
}

.sample#nietzsche h2 {
    border-top: 1px solid #222222;
    color: #222;
    font: 800 20px/20px"open sans";
    margin: 0 0 20px 0;
    text-align: center;
    text-transform: uppercase;
}
.sample#nietzsche h2 span {
     background: #4ab0fc;
    padding: 0 20px;
    position: relative;
    top: -10px;
}
.sample#nietzsche p {
    color: #222;
    font: 400 16px/24px"Karma";
    margin: 0;
}
/* ---------------------- */

/* Device-specific styles */

/* ---------------------- */

/* Sub-tablet <768px */

@media (max-width: 768px) {
    .section-enemy-advice .col {
        float: none;
    }
    .section-enemy-advice .container {
        background-color: rgba(0, 0, 0, 0.75);
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 100px;
    }
}