
<section class="container-fluid sample" id="nietzsche">
    <div class="container">
        <div class="background"></div>
        <a href="https://twitter.com/ybbkrishna" class="avatar" target="_blank" title="ybbkrishna"><img src="https://pbs.twimg.com/profile_images/446199185319022592/5b5W6bcL.jpeg" alt="ybbkrishna"></a>
        <div class="caption"><a href="https://www.google.com/fonts/specimen/Vesper+Libre" target="_blank">Vesper Libre</a></div>
        
            
    <section class="text">
   
        <h1><span> शत्रु की सलाह में<br></span>  -  उसका स्वार्थ छिपा होता है। -</h1>
     
    
              <h2><span>शत्रु की सलाह</span></h2>
      
      <section class="excerpt">
  
          <p>नदी किनारे एक विशाल पेड था। उस पेड पर बगुलों का बहुत बडा झुंड रहता था। उसी पेड के कोटर में काला नाग रहता था। जब अंडों से बच्चे निकल आते और जब वह कुछ बडे होकर मां-बाप से दूर रहने लगते, तभी वह नाग उन्हें खा जाता था। इस प्रकार वर्षो से काला नाग बगुलों के बच्चे हडपता आ रहा था। बगुले भी वहां से जाने का नाम नहीं लेते थे, क्योंकि वहां नदी में कछुओं की भरमार थी। कछुओं का नरम मांस बगुलों को बहुत अच्छा लगता था।<br>
इस बार नाग जब एक बच्चे को हडपने लगा तो <b>  पिता बगुले की नजर उस पर पड गई। बगुले को पता लग गया </b>  कि उसके पहले बच्चों को भी वह नाग खाता रहा होगा। उसे बहुत शोक हुआ। उसे आंसू बहाते एक कछुए ने देखा और पूछा 'मामा, क्यों रो रहे हो?'<br>
गम में जीव हर किसी के आगे अपना दुखडा रोने लगता हैं। उसने नाग और अपने मृत बच्चों के बारे में बताकर कहा 'मैं उससे बदला लेना चाहता हूं।'<br>
कछुए ने सोचा 'अच्छा तो इस गम में मामा रो रहा है। जब यह हमारे बच्चे खा जाते हैं तब तो कुछ ख्याल नहीं आता कि हमें कितना गम होता होगा। तुम सांप से बदला लेना चाहते हो तो हम भी तो तुमसे बदला लेना चाहेंगे।'<br>
बगुला अपने शत्रु को अपना दुख बताकर ग़लती कर बैठा था। चतुर कछुआ एक तीर से दो शिकार मारने की योजना सोच चुका था। वह बोला 'मामा! मैं तुम्हें बदला लेने का बहुत अच्छा उपाय सुझाता हूं।'<br>
बगुले ने अदीर स्वर में पूछा “जल्दी बताओ वह उपाय क्या हैं। मैं तुम्हारा एहसान जीवन भरा नहीं भूलूंगा।’ कछुआ मन ही मन मुस्कुराया और उपाय बताने लगा “यहां से कुछ दूर एक नेवले का बिल है। नेवला सांप का घोर शत्रु हैं। नेवले को मछलियाँ बहुत प्रिय होती हैं। तुम छोटी-छोटी मछलियां पकडकर नेवले के बिल से सांप के कोटर तक बिछा दो, नेवला मछलियां खाता-खाता सांप तक पहुंच जाएगा और उसे समाप्त कर देगा।’ बगुला बोला “तुम जरा मुझे उस नेवले का बिल दिखा दो।’<br>
कचुए ने बगुले को नेवले का बिल दिखा दिया। बगुले ने वैसे ही किया जैसे कछुए ने समझाया था। नेवला सचमुच मछलियां खाता हुआ कोटर तक पहुंचा। नेवले को देखते ही नाग ने फुंकार छोडी। कुछ ही देर की लडाई में नेवले ने सांप के टुकडे-टुकडे कर दिए। बगुला खुशी से उछल पडा। कछुए ने मन ही मन में कहा 'यह तो शुरुआत हैं मूर्ख बगुले। अब मेरा बदला शुरू होगा और तुम सब बगुलों का नाश होगा।'<br>
कछुए का सोचना सही निकला। नेवला नाग को मारने के बाद वहां से नहीं गया। उसे अपने चारों ओर बगुले नजर आए, उसके लिए महिनों के लिए स्वादिष्ट खाना। नेवला उसी कोटर में बस गया, जिसमें नाग रहता था और रोज एक बगुले को अपना शिकार बनाने लगा। इस प्रकार एक-एक करके सारे बगुले मारे गए।</p>
     
      </section>
    </section>
         </div>
    </section>          
            
