
<div class="container-fluid section-fools-learn" id="ybbkrishna">
    <div class="container">
       
        <a href="https://twitter.com/ybbkrishna" class="avatar" target="_blank" title="ybbkrishna"><img src="https://pbs.twimg.com/profile_images/446199185319022592/5b5W6bcL.jpeg" alt="ybbkrishna"></a>
<div class="caption"><a href="https://www.google.com/fonts/specimen/Rozha+One" target="_blank">Rozha One</a><a href="https://www.google.com/fonts/specimen/Ek+Mukta" target="_blank">Ek Mukta</a></div>
        <h2>हिंदी वेब फ़ॉन्ट्स</h2>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;एक जंगल में एक पेड पर गौरैया का घोंसला था। एक दिन कडाके की ठंड पड रही थी। ठंड से कांपते हुए तीन चार बंदरों ने उसी पेड के नीचे आश्रय लिया। एक बंदर बोला 'कहीं से आग तापने को मिले तो ठंड दूर हो सकती हैं।'<br>
दूसरे बंदर ने सुझाया 'देखो, यहां कितनी सूखी पत्तियां गिरी पडी हैं। इन्हें इकट्ठा कर हम ढेर लगाते हैं और फिर उसे सुलगाने का उपाय सोचते हैं।'<br>

<br>
</p>
    </div>
</div>