<div class="container-fluid section-gajraj" id="ybbkrishna">
    <div class="container">
        <a href="https://twitter.com/ybbkrishna" class="avatar" target="_blank" title="ybbkrishna">
            <img src="https://pbs.twimg.com/profile_images/446199185319022592/5b5W6bcL.jpeg" alt="ybbkrishna">
        </a>
        <div class="caption"><a href="https://www.google.com/fonts/specimen/Rozha+One" target="_blank">Rozha One</a>
        </div>
        <h2>गजराज व मूषकराज</h2>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;प्राचीन काल में एक नदी के किनारे बसा नगर व्यापार का केन्द्र था। फिर आए उस नगर के बुरे दिन, जब एक वर्ष भारी वर्षा हुई। नदी ने अपना रास्ता बदल दिया। लोगों के लिए पीने का पानी न रहा और देखते ही देखते नगर वीरान हो गया अब वह जगह केवल चूहों के लायक़ रह गई। चारों ओर चूहे ही चूहे नजर आने लगे। चूहों का पूरा साम्राज्य ही स्थापित हो गया। चूहों के उस साम्राज्य का राजा बना मूषकराज चूहा। चूहों का भाग्य देखो, उनके बसने के बाद नगर के बाहर ज़मीन से एक पानी का स्त्रोत फूट पड़ा और वह एक बड़ा जलाशय बन गया।
            <br>नगर से कुछ ही दूर एक घना जंगल था। जंगल में अनगिनत हाथी रहते थे। उनका राजा गजराज नामक एक विशाल हाथी था। उस जंगल क्षेत्र में भयानक सूखा पड़ा। जीव-जन्तु पानी की तलाश में इधर-उधर मारे-मारे फिरने लगे। भारी भरकम शरीर वाले हाथियों की तो दुर्दशा हो गई।
            <br>हाथियों के बच्चे प्यास से व्याकुल होकर चिल्लाने व दम तोडने लगे। गजराज खुद सूखे की समस्या से चिंतित था और हाथियों का कष्ट जानता था। एक दिन गजराज की मित्र चील ने आकर खबर दी कि खंडहर बने नगर के दूसरी ओर एक जलाशय हैं। गजराज ने सबको तुरंत उस जलाशय की ओर चलने का आदेश दिया। सैकडों हाथी प्यास बुझाने डोलते हुए चल पडे। जलाशय तक पहुंचने के लिए उन्हें खंडहर बने नगर के बीच से गुजरना पडा।
            <br>हाथियों के हजारों पैर चूहों को रौंदते हुए निकल गए। हजारों चूहे मारे गए। खंडहर नगर की सडकें चूहों के खून-मांस के कीचड से लथपथ हो गई। मुसीबत यहीं खत्म नहीं हुई। हाथियों का दल फिर उसी रास्ते से लौटा। हाथी रोज उसी मार्ग से पानी पीने जाने लगे।
            <br>काफ़ी सोचने-विचारने के बाद मूषकराज के मंत्रियों ने कहा 'महाराज, आपको ही जाकर गजराज से बात करनी चाहिए। वह दयालु हाथी हैं।' मूषकराज हाथियों के वन में गया। एक बडे पेड़ के नीचे गजराज खड़ा था।
            <br>

            <br>
            <h2>सीख- आपसी सद्भाव व प्रेम सदा एक दूसरे के कष्टों को हर लेते हैं।</h2>
        </p>
    </div>
</div>
