/* ---------------------- */
/* Device-specific styles */
/* ---------------------- */


.section-gnat-bull { background: url(../../images/forest.jpg) no-repeat; background-size: cover; padding: 90px 0 100px;}
.section-gnat-bull h2 { font: 70px/68px 'Hind', serif; color: #fff; text-transform: uppercase; margin: 0 0 60px 20px; }
.section-gnat-bull p { font: 16px/30px 'Hind', serif; max-width: 540px; color: #fff; margin: 0 0 12px 20px; }
.section-gnat-bull .avatar img { margin: 0 0 10px 20px; }
.section-gnat-bull .caption { margin: 0 0 40px 20px; color: #eee; }
.section-gnat-bull .caption a { color: #eee; }
.section-gnat-bull .caption a:hover { background-color: #0cf; }

/* Sub-tablet <768px */
@media (max-width: 768px) {
	.section-gnat-bull .container { width: 100%; }
	.section-gnat-bull h2 { font: 60px/60px 'Glegoo', Georgia, serif; }
	.section-gnat-bull p { padding-right: 20px; }
}