
/* 
* Author: @pathumego 
* 
*/

/* Paper Articler*/

#honey {
    display: block;
    margin: 0px auto 0 auto;
    width: 100%;
    max-width: 1200px;
    background: url(../images/honey.jpg) #f7f7f7;
    height: 100%;
    overflow: hidden;  
}

#honey .font_name {
color: #fff;
display: inline-block;
padding: 10px;
background: rgb(255, 213, 48);
position: absolute;
margin-left: 60px;
    z-index: 1000;
}
#honey .font_name a {
color: #fff; 
}
#honey .font_name a:hover {
color: #535353; 
}
#honey .grid-pad {
    padding: 0;
}
#honey .grid {
    max-width: 1200px;
}
#honey h1 {
    font-family: 'Glegoo';
    font-weight: 700;
    line-height: 1.3;
    font-size: 60px;
    color: #A9670E;
    z-index: 1000;
    padding: 69px;
    margin: 250px auto 0 auto;
    border-radius: 50%;
    width: 270px;
    height: 270px;
    text-align: left;
    background: #ffb732;
    background: -moz-linear-gradient(top, #ffb732 0%, #fff389 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb732), color-stop(100%,#fff389));
    background: -webkit-linear-gradient(top, #ffb732 0%,#fff389 100%);
    background: -o-linear-gradient(top, #ffb732 0%,#fff389 100%);
    background: -ms-linear-gradient(top, #ffb732 0%,#fff389 100%);
    background: linear-gradient(to bottom, #ffb732 0%,#fff389 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb732', endColorstr='#fff389',GradientType=0 );
    -webkit-box-shadow: 10px 10px 34px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 34px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 34px 0px rgba(0,0,0,0.75);
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
    }
#honey h2 {
    font-family: 'Laila';
    font-weight: 900;
    line-height: 1.3;
    font-size: 50px;
    color: #595959;
    padding: 197px 20px 100px 39px;
    background: rgba(255, 255, 255, 1);
    text-align: center;
    margin: -126px auto 0px auto;
    bottom: 0;
    width: 100%;
    display: block;
    }


#honey_image{
    background: #eee;
text-align: right;
bottom: 0;
display: inline-block;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
    overflow: hidden;

}
#honey img {
margin-bottom: -5px;
    width: 100%;
}
@media only screen and (max-width: 480px) {
    
    
#honey img {
margin-bottom: -5px;
}
    
}
@media (min-width: 480px) and (max-width: 767px) {
}