
/* 
* Author: @pathumego 
* 
*/

/* Paper Articler*/

#honey {
    display: block;
    margin: 0px auto 0 auto;
    width: 100%;
    max-width: 1200px;
    background: #000;
    height: 100%;
    overflow: hidden;  
}

#honey .font_name {
color: #fff;
display: inline-block;
padding: 10px;
background: rgb(255, 213, 48);
position: absolute;
margin-left: 60px;
    z-index: 1000;
}
#honey .font_name a {
color: #fff; 
}
#honey .font_name a:hover {
color: #535353; 
}
#honey .grid-pad {
    padding: 0;
}
#honey .grid {
    max-width: 1200px;
}
#honey h1 {
font-family: 'Glegoo';
font-weight: 700;
line-height: 1.3;
font-size: 60px;
color: #A9670E;
position: absolute;
    z-index: 1000;
padding: 69px;
border-radius: 50%;
width: 270px;
height: 270px;
text-align: left;
background: #ffb732; /* Old browsers */
background: -moz-linear-gradient(top,  #ffb732 0%, #fff389 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb732), color-stop(100%,#fff389)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffb732 0%,#fff389 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffb732 0%,#fff389 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffb732 0%,#fff389 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffb732 0%,#fff389 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb732', endColorstr='#fff389',GradientType=0 ); /* IE6-9 */

     -ms-transform: rotate(-20deg); /* IE 9 */
    -webkit-transform: rotate(-20deg); /* Chrome, Safari, Opera */
    transform: rotate(-20deg);
    }
#honey h2 {
font-family: 'Laila';
font-weight: 900;
line-height: 1.3;
font-size: 50px;
color: #595959;
width: 200px;
padding: 69px;
text-align: center;
    
    }
#honey .col-12-12{
position: absolute;
}


#honey img {
margin-bottom: -5px;
    width: 100%;
}
@media only screen and (max-width: 480px) {
}
@media (min-width: 480px) and (max-width: 767px) {
}