

<section id="honey" class='specimen'>
    <div class="font_name">
        <a href="https://www.google.com/fonts/specimen/Glegoo" target="_blank">
            Glegoo
        </a>&
        <a href="https://www.google.com/fonts/specimen/Laila" target="_blank">
            Laila
        </a>
    </div>
    <div class="narrow">
    



               
           
                    <h1> गोल्ड <br /> शहद 


 </h1>
             
                    
               <h2> भारत के स्वर्ण घाटियों से, <br />पौष्टिक स्वस्थ और प्राकृतिक शहद</h2>       
 
                 
        
  
        </div>
    </div>

<script>
    $("#tools_title").fitText(.65, {
        maxFontSize: '170px'
    });
    $("#tools_sub").fitText(.65, {
        maxFontSize: '35px'
    });
</script>
</section>




