<section class="container-fluid sample" id="interconnect">
    <div class="container">
        <a href="https://twitter.com/ybbkrishna" class="avatar" target="_blank" title="ybbkrishna">
            <img src="https://pbs.twimg.com/profile_images/446199185319022592/5b5W6bcL.jpeg" alt="ybbkrishna">
        </a>
        <div class="caption"><a href="https://www.google.com/fonts/specimen/Rozha+One" target="_blank">Rozha One</a>
        </div>

    <div class="container">

        <h2><span>आपस की फूट</span></h2>

        <p class="drop-p">प्राचीन समय में एक विचित्र पक्षी रहता था। उसका धड़ एक ही था, परन्तु सिर दो थे नाम था उसका भारुंड। एक शरीर होने के बावज़ूद उसके सिरों में एकता नहीं थी और न ही था तालमेल। वे एक दूसरे से बैर रखते थे। हर जीव सोचने समझने का काम...</p>

        <p>एक दिन भारुंड भोजन की तलाश में नदी तट पर धूम रहा था कि एक सिर को नीचे गिरा एक फल नजर आया। उसने चोंच मारकर उसे चखकर देखा तो जीभ चटकाने लगा 'वाह! ऐसा स्वादिष्ट फल तो मैंने आज तक कभी नहीं खाया। भगवान ने दुनिया में क्या-क्या चीज़ें बनाई हैं।
'अच्छा! जरा मैं भी चखकर देखूं।' कहकर दूसरे ने अपनी चोंच उस फल की ओर बढाई ही थी कि पहले सिर ने झटककर दूसरे सिर को दूर फेंका और बोला 'अपनी गंदी चोंच इस फल से दूर ही रख। यह फल मैंने पाया हैं और इसे मैं ही खाऊंगा।'<br>
'अरे! हम् दोनों एक ही शरीर के भाग हैं। खाने-पीने की चीज़ें तो हमें बांटकर खानी चाहिए।' दूसरे सिर ने दलील दी। पहला सिर कहने लगा 'ठीक&nbsp;! हम एक शरीर के भाग हैं। पेट हमारा एक ही हैं। मैं इस फल को खाऊंगा तो वह पेट में ही तो जाएगा और पेट तेरा भी हैं।'<br>
दूसरा सिर बोला 'खाने का मतलब केवल पेट भरना ही नहीं होता भाई। जीभ का स्वाद भी तो कोई चीज़ हैं। तबीयत को संतुष्टि तो जीभ से ही मिलती हैं। खाने का असली मजा तो मुंह में ही हैं।'<br>


<br>
</p>

   


    </div>

</div>