<!-- Google web fonts for "The Astronomer" -->
<link href='http://fonts.googleapis.com/css?family=Laila:400,500&subset=latin,devanagari' rel='stylesheet' type='text/css'>
<link href="demos/hindi/jackel.hi.css" rel="stylesheet">
<div class="container-fluid section-jackel" id="michaelryap">

    <div class="container">

        <h2><span>बुद्धिमान सियार</span></h2>

        <p class="drop-p">एक समय की बात हैं कि जंगल में एक शेर के पैर में कांटा चुभ गया। पंजे में जख्म हो गया और शेर के लिए दौडना असंभव हो गया। वह लंगडाकर मुश्किल से चलता। शेर के लिए तो शिकार न करने के लिए दौडना जरुरी होता है। इसलिए वह कई दिन कोई शिकार न कर पाया और भूखों मरने लगा। कहते हैं कि शेर मरा हुआ जानवर नहीं खाता, परन्तु मजबूरी में सब कुछ करना पडता हैं। लंगडा शेर किसी घायल अथवा मरे हुए जानवर की तलाश में जंगल में भटकने लगा। यहां भी किस्मत ने उसका साथ नहीं दिया। कहीं कुछ हाथ नहीं लगा।</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;धीरे-धीरे पैर घसीटता हुआ वह एक गुफा के पास आ पहुंचा। गुफा गहरी और संकरी थी, ठीक वैसी जैसे जंगली जानवरों के मांद के रुप में काम आती हैं। उसने उसके अंदर झांका मांद ख़ाली थी पर चारों ओर उसे इस बात के प्रमाण नजर आए कि उसमें जानवर का बसेरा हैं। उस समय वह जानवर शायद भोजन की तलाश में बाहर गया हुआ था। शेर चुपचाप दुबककर बैठ गया ताकि उसमें रहने वाला जानवर लौट आए तो वह दबोच ले।<br>
सचमुच उस गुफा में सियार रहता था, जो दिन को बाहर घूमता रहता और रात को लौट आता था। उस दिन भी सूरज डूबने के बाद वह लौट आया। सियार काफ़ी चालाक था। हर समय चौकन्ना रहता था। उसने अपनी गुफा के बाहर किसी बडे जानवर के पैरों के निशान देखे तो चौंका उसे शक हुआ कि कोई शिकारी जीव मांद में उसके शिकार की आस में घात लगाए न बठा हो। उसने अपने शक की पुष्टि के लिए सोच विचार कर एक चाल चली। गुफा के मुहाने से दूर जाकर उसने आवाज़ दी 'गुफा! ओ गुफा।'<br>
गुफा में चुप्पी छायी रही उसने फिर पुकारा 'अरी ओ गुफा, तू बोलती क्यों नहीं?'<br>
भीतर शेर दम साधे बैठा था। भूख के मारे पेट कुलबुला रहा था। उसे यही इंतज़ार था कि कब सियार अंदर आए और वह उसे पेट में पहुंचाए। इसलिए वह उतावला भी हो रहा था। सियार एक बार फिर ज़ोर से बोला 'ओ गुफा! रोज तू मेरी पुकार के जवाब में मुझे अंदर बुलाती हैं। आज चुप क्यों है? मैंने पहले ही कह रखा है कि जिस दिन तू मुझे नहीं बुलाएगी, उस दिन मैं किसी दूसरी गुफा में चला जाऊंगा। अच्छा तो मैं चला।'<br>
यह सुनकर शेर हडबडा गया। उसने सोचा शायद गुफा सचमुच सियार को अंदर बुलाती होगी। यह सोचकर कि कहीं सियार सचमुच न चला जाए, उसने अपनी आवाज़ बदलकर कहा 'सियार राजा, मत जाओ अंदर आओ न। मैं कब से तुम्हारी राह देख रही थी।'<br>
सियार शेर की आवाज़ पहचान गया और उसकी मूर्खता पर हंसता हुआ वहां से चला गया और फिर लौटकर नहीं आया। मूर्ख शेर उसी गुफा में भूखा-प्यासा मर गया।<br>
<br>
<br>
</p>

        <em>सीख-- सतर्क व्यक्ति जीवन में कभी मार नहीं खाता।</em>

        <ul>
            <li class="label">Types in Use</li>
            <li><a href="https://www.google.com/fonts/specimen/Laila">Laila</a></li>
        </ul>

        <hr />

        <ul>
            <li class="label">Set By</li>
            <li><a href="https://twitter.com/ybbkrishna">@ybbkrishna</a></li>
        </ul>

    </div>

</div>