<link href='http://fonts.googleapis.com/css?family=Glegoo:400,700&subset=latin,devanagari' rel='stylesheet' type='text/css'>
<link href="demos/hindi/moon-mother.hi.css" rel="stylesheet">
<div class="container-fluid section-moon-mother" id="anon-03">
    <div class="container">
        <div class="caption">
            <a href="https://www.google.com/fonts/specimen/Glegoo" target="_blank">Glegoo</a>
        </div>
        <h2>कौए<span>और</span> उल्लू</h2>
        <span class="bold">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;बहुत समय पहले की बात हैं कि एक वन में एक विशाल बरगद का पेड़ कौओं की राजधानी था। हजारों कौए उस पर वास करते थे। उसी पेड़ पर कौओं का राजा मेघवर्ण भी रहता था।<br>
बरगद के पेड़ के पास ही एक पहाड़ी थी, जिसमें असंख्य गुफाएं थीं। उन गुफाओं में उल्लू निवास करते थे, उनका राजा अरिमर्दन था। अरिमर्दन बहुत पराक्रमी राजा था। कौओं को तो उसने उल्लुओं का दुश्मन नम्बर एक घोषित कर रखा था। उसे कौओं से इतनी नफरत थी कि किसी कौए को मारे बिना वह भोजन नहीं करता था।<br>
जब बहुत अधिक कौए मारे जाने लगे तो उनके राजा मेघवर्ण को बहुत चिन्ता हुई। उसने कौओं की एक सभा इस समस्या पर विचार करने के लिए बुलाई। <br>
मेघवर्ण बोला 'मेरे प्यारे कौओ, आपको तो पता ही हैं कि उल्लुओं के आक्रमणों के कारण हमारा जीवन असुरक्षित हो गया हैं। हमारा शत्रु शक्तिशाली हैं और अहंकारी भी। हम पर रात को हमले किए जाते हैं। हम रात को देख नहीं पाते। हम दिन में जवाबी हमला नहीं कर पाते, क्योंकि वे गुफाओं के अंधेरों में सुरक्षित बैठे रहते हैं।'<br>
फिर मेघवर्ण ने स्याने और बुद्धिमान कौओं से अपने सुझाव देने के लिए कहा।<br>
एक डरपोक कौआ बोला 'हमें उल्लुओं से समझौता कर लेना चाहिए। वह जो शर्ते रखें, हम स्वीकार करें। अपने से ताकतवर दुश्मन से पिटते रहने में क्या तुक है?'<br>
बहुत-से कौओं ने कां कां करके विरोध प्रकट किया। एक गर्म दिमाग का कौआ चीखा 'हमें उन दुष्टों से बात नहीं करनी चाहिए। सब उठो और उन पर आक्रमण कर दो।'<br>
एक निराशावादी कौआ बोला 'शत्रु बलवान हैं। हमें यह स्थान छोडकर चले जाना चाहिए।'<br>
स्याने कौए ने सलाह दी 'अपना घर छोड़ना ठीक नहीं होगा। हम यहां से गए तो बिल्कुल ही टूट जाएंगे। हमें यहीं रहकर और पक्षियों से सहायता लेनी चाहिए।'<br>
कौओं में सबसे चतुर व बुद्धिमान स्थिरजीवी नामक कौआ था, जो चुपचाप बैठा सबकी दलीलें सुन रहा था। राजा मेघवर्ण उसकी ओर मुड़ा 'महाशय, आप चुप हैं। मैं आपकी राय जानना चाहता हूं।'<br>
स्थिरजीवी बोला 'महाराज, शत्रु अधिक शक्तिशाली हो तो छलनीति से काम लेना चाहिए।'<br>
'कैसी छलनीति? जरा साफ-साफ बताइए, स्थिरजीवी।' राजा ने कहा।<br>

<br>
<br>
            <span class="ital">सीख- शत्रु को अपने घर में पनाह देना अपने ही विनाश का सामान जुटाना है।</span>

</p></span>
    </div>
</div>