<section class="container-fluid sample" id="revolution">
         <a href="https://twitter.com/pathumego" class="avatar" target="_blank" title="ybbkrishna">
            <img src="https://pbs.twimg.com/profile_images/431160368165961728/8Cz-MEYm_400x400.jpeg" alt="pathumego">
        </a>
        <div class="caption"><a href="https://www.google.com/fonts/specimen/Sarpanch" target="_blank">Sarpanch</a><a href="https://www.google.com/fonts/specimen/Halant" target="_blank">Halant</a>
        </div>

        <div class="box">
               <h1>
                नभारतीय स्वतंत्रता का क्रांतिकारी आन्दोलन
            </h1>
        
       
            <p>मुक्त ज्ञानकोश विकिपीडिया से

                <b>महान क्रान्तिकारी यतीन्द्रनाथ मुखर्जी</b>
भारत की स्वतंत्रता के लिये अंग्रेजों के विरुद्ध आन्दोलन दो प्रकार का था - एक अहिंसक आन्दोलन एवं दूसरा सशस्त्र क्रान्तिकारी आन्दोलन। भारत की आज़ादी के लिए 1757 से 1947 के बीच जितने भी प्रयत्न हुए, उनमें स्वतंत्रता का सपना संजोये क्रान्तिकारियों और शहीदों की उपस्थित सबसे अधिक प्रेरणादायी सिद्ध हुई।

वस्तुतः भारतीय क्रांतिकारी आंदोलन भारतीय <b>इतिहास का स्वर्ण </b>युग है। भारत की धरती के प्रति जितनी भक्ति और मातृ-भावना उस युग में थी, उतनी कभी नहीं रही। मातृभूमि की सेवा और उसके लिए मर-मिटने की जो भावना उस समय थी, आज उसका नितांत अभाव हो गया है।
            </p>
         
   
           
        </div>
      <div id="hand"> <img src="https://openclipart.org/people/worker/1336647257.svg" />
           </div>
<div id=""></div>
</section>


