
/* 
* Author: @pathumego 
* 
*/

/* Paper Articler*/

#newspaper {
    display: block;
    margin: 0px auto 0 auto;
    width: 100%;
    max-width: 1200px;
    font-family: 'Ek Mukta', sans-serif;
    background: #FFFCF4;
    padding: 50px;
    height: 100%;
    overflow: hidden;
   
}

#newspaper .narrow {
    margin-top:-100px;
    margin-bottom: -130px;
}

#newspaper #left{
    width: 80%;
    min-width: 480px;
    float: left;
    display: block;

}
#newspaper #right{
    width: 20%;
    float: left;

}
#newspaper hr {
    background-color: #000;
    margin: 30px 0 30px 0;
    height: 1px;
    border: 0;
    clear: both;
}
#newspaper hr.contents {
    background-color: #000;
    margin: 9px 0 9px 0;
    height: 1px;
    border: 0;
    clear: both;
}

#newspaper ul{
    margin: 0;
}
#newspaper h1 {
    font-family: 'Sarpanch';
    font-weight: 900;
    line-height: 1.2;
    font-size: 30px;
    text-align: left;
    color: #000;
    display: block;
    margin: 0% auto 0%;
}

#newspaper h2.links {
    font-family:'Ek Mukta';
    font-weight:700;
    font-size:30px;
    text-align: left;
    color: #000;
    display: block;
    margin: 0% auto 0%;
}
#newspaper h3#lottery_h1 {
   font-family: 'Khand';
font-weight: 700;
font-size: 18px;
}
#lottery {
padding: 15px;
background: #eee;
margin-top: 41px;
}
#newspaper p{
    font: 15px "Ek Mukta";
    font-weight: 200;
    text-align: left;
    color: #000;
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}
#newspaper p .strong{
    font-weight: 500;

}

.resultBall{
border-radius: 50%;
    font-weight: 700;
    background: #eee;
	width: 20px;
	height: 20px;
    text-align: center;
    padding: 5px;
    margin-left: 3px;

}
.resultEmpty{

	width: 10px;
	
    margin-left: 3px;

}



@media only screen and (max-width: 480px) {
    #newspaper #left{
         width: 100%;
         display: block;

}
    #newspaper #right{
        width: 100%;
   

}
    #newspaper p{
   
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
}
}

@media (min-width: 480px) and (max-width: 767px) {
   

    #newspaper p{
   
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}
    
    #newspaper h2.links {
    text-align: center;
}
    #newspaper p.links_number {
    display:none;
}
}