
<div class="font_links">
<div class="shadow_bottom"></div>
</div>

<section id="newspaper"> 
    <div class="font_name"><a href="https://www.google.com/fonts/specimen/Sarpanch" target="_blank">Sarpanch</a> & <a href="https://www.google.com/fonts/specimen/Ek+Mukta" target="_blank">Ek Mukta</a></div>

<div class="narrow"> 
    
<div class="caption"><a href="https://www.google.com/fonts/specimen/Ek+Mukta" target="_blank">Ek Mukta</a><a href="https://www.google.com/fonts/specimen/Hind" target="_blank"> Hind</a>
        </div>
    <div class="grid grid-pad">
    <div class="col-9-12">
       <div class="content">
          

        
        <p>
            ग्रीन ट्राइब्‍यूशन में सीधे सुनवाई नहीं  ग्रीन ट्राइब्‍यूशन में सीधे सुनवाई नहीं From Bhaskar.com: नई दिल्‍ली। वन और पर्यावरण मंजूरी के खिलाफ लंबे समय से लामबंद उद्योग जगत को बड़ी कामयाबी मिलती दिख रही है। देश में पर्यावरण कानूनों की समीक्षा के लिए बनी टीएसआर सुब्रमण्‍यम समिति ने ग्रीन ट्रिब्‍यूनल (एनजीटी) के अधिकारों में कटौती के साथ-साथ पॉल्‍यूशन कंट्रोल बोर्ड जैसी संस्‍थाओं को खत्‍म करने की सिफारिश की है। पर्यावरण एवं वन मंजूरी की राह आसान बनाने के लिए समिति ने सिंगल विंडो सिस्‍टम क्लियरेंस की वकालत की गई है, जिसके तहत ग्राम सभाओं की मंजूरी की बाध्‍यता को खत्‍म करने जैसे सुझाव दिए गए हैं। 
 
टीएसआर सुब्रमण्‍यम समिति गत 18 नवंबर को अपनी रिपोर्ट केंद्रीय वन एवं पर्यावरण मंत्री प्रकाश जावड़ेकर को सौंपी थी। इसकी सिफारिशों पर मंत्रालय को अभी निर्णय लेना है। मनी भास्‍कर को मिली ड्राफ्ट रिपोर्ट के मुताबिक, देश में पर्यावरण और वन से जुड़े मामलों के लिए एक नया कानून बनेगा। जिसके तहत केंद्र व राज्‍य स्‍तर पर एनवाॅयरमेंट मैनेजमेंट अथॉरिटी बनाई जाएगी। विभिन्‍न परियोजनाओं को मंजूरी देने का जिम्‍मा इसी अथॉरिटी पर रहेगा।
 

 
        </p>
  <hr>
        <h1 id="headline">
            ग्रीन ट्रिब्‍यूनल का रुतबा घटाने की सिफारिश, <br ></b> खत्म हो सकता है पॉल्‍यूशन कंट्रोल बोर्ड</h1>
    
        <hr>
     <p>नया कानून के लागू होने के बाद पर्यावरण से जुड़े मामलों में विभिन्‍न अदालतों और ग्रीन ट्रिब्‍यूनल के हस्‍तक्षेप या खुद संज्ञान लेने के अधिकार काफी सीमित हो जाएंगे। एनवॉयरनमेंट मैनेजमेंट अथॉरिटी से मिली क्लियरेंस के खिलाफ सुनवाई के लिए हाईकोर्ट के रिटायर्ड जज की अध्‍यक्षता में एक अपीलीय बोर्ड बनेगा। जहां मंजूरी के 30 दिनों के भीतर अपील की जा सकेगी जबकि फिलहाल नेशनल ग्रीन ट्रिब्‍यूनल में छह महीने तक अपील की जा सकती हैं। अपीलीय बोर्ड के निर्णय के खिलाफ ग्रीन ट्राइब्‍यूनल सुनवाई तो करेगा लेकिन ऐसे मामलों में टेक्‍नीकल रिव्‍यू करने का अधिकार नहीं होगा। 
 
 समिति के एक सदस्‍य से मिली जानकारी के अनुसार, सिंगल विंडो क्लियरेंस के लिए वन एव पर्यावरण मंजूरी की प्रक्रिया में व्‍यापक बदलाव करने की जरूरत है। मंजूरी की प्रक्रिया को फास्‍ट ट्रैक पर लाने के लिए लाने के लिए तकनीक व वैज्ञानिक तरीकों के इस्‍तेमाल पर भी जोर दिया गया है।
         
         ग्रीन ट्राइब्‍यूशन में सीधे सुनवाई नहीं 
 
समिति की सिफारिशों के मुताबिक, परियोजनाओं को मिली मंजूरी के खिलाफ ग्रीन ट्राइब्‍यूनल में सीधे अपील नहीं की जा सकेगी। अगर परियोजना की मंजूरी को लेकर किसी को आपत्ति है तो पहले इसकी सुनवाई हाईकोर्ट के रिटायर्ड जज की अध्‍यक्षता वाला एक बोर्ड करेगा । बोर्ड के फैसले के बाद ही मामले की अपील नेशनल ग्रीन ट्रिब्‍यूनल से की जा सकेगी। परियोजना के पर्यावरण पर पड़ने वाले असर को लेकर सरकार की ओर से किए गए असेसमेंट पर भी ग्रीन ट्रिब्‍यूनल सवाल खड़े नहीं कर सकेगा। गौरतलब है कि अवैध खनन और निर्माण के खिलाफ कड़े फैसलों को लेकर  ग्रीन ट्रिब्‍यूनल उद्योग जगत के निशाने पर रहा है।
 
 
ग्राम सभा की मंजूरी लेने की बाध्‍यता हो खत्‍म
 
सड़क, बिजली और गैस लाइन जैसे लिनीयर प्रोजेक्‍ट के लिए वन भूमि के इस्‍तेमाल के लिए ग्राम सभा की मंजूरी लेने की बाध्‍यता को खत्‍म करने का भी सुझाव दिया है। वन अधिकार कानून, 1980 के तहत ग्राम सभाओं को यह अधिकार मिला हुआ है। सुब्रमण्‍यम समिति ने वन अधिकार कानून के तहत निर्धारण वन मंजूरी में प्रक्रिया में बदलाव पर जोर दिया है,  ताकि लिनीयर प्रोजेक्‍ट को ग्राम सभा की मंजूरी लेने की जरूरत नहीं पड़े।
 

 

 <span class="strong">- http://www.bhaskar.com/</span>
        </p>

   
    
  </div> 
 </div>
     
  <div class="col-3-12">
      <div class="content">
   
        
    
        
        
        <li>
            <hr class='contents'>
            <h2 class='links'>प्रोद्योगिकी </h2>
          <p class="links_number">pg3</p> 
            
        </li>
         <li>
            <hr class='contents'>
            <h2 class='links'>कला और संस्कृति </h2>
   <p class="links_number">pg3</p>             
        </li>
         <li>
            <hr class='contents'>
            <h2 class='links'>राजनीति</h2>
   <p class="links_number">pg3</p>             
        </li>
        
         <li>
            <hr class='contents'>
            <h2 class='links'> पर्यावरण</h2>
              <p class="links_number">pg30</h3>
            
        </li>
       <li>
            <hr class='contents'>
            <h2 class='links'> मास्टर ऑफ बिजनेस</h2>
              <p class="links_number">pg23</h3>
            
        </li>
    
        
        
            <li>
        <div id='lottery'>
            
          <h3 id='lottery_h1'>  इंडिया लोट्टो परिणाम: प्लेविन लॉटरी</h3>
            शनिवार - 22nd नोव्हेंबर 2014
            <table>
							<tr>	
                        <td class="resultBall">5</td>
                                <td class="resultEmpty"></td>	
                        <td class="resultBall">21</td>
                                 <td class="resultEmpty"></td>
                        <td class="resultBall">36</td>
              	  <td class="resultBall">37</td>
                           <td class="resultEmpty"></td>
                        <td class="resultBall">39</td>	
                           <td class="resultEmpty"></td>
                        <td class="resultBall">45</td>
							</tr>
						</table>

            ₹2.5 Billion
               </li>
           
            </div>
    
    </div>
    </div>
    </div>
   
    
 
    <script src="jquery.fittext.js"></script>
    <script>
       
        $("#headline").fitText(.65, {maxFontSize: '170px'});
        $("#h1_big").fitText(.3, {maxFontSize: '350px'});
        $("#description_fit").fitText(.8, {maxFontSize: '100px'});
        $("#description_fit_big").fitText(.4, {maxFontSize: '200px'});
        $("#info").fitText(.9, {maxFontSize: '35px'});
       

    </script>
 </section>
  