<div class="font_links">
    <div class="shadow_top"></div>
</div>

<section id="tools" class='specimen'>
<p class="description" style="display: none;">Kalam description</p>
    <div class="narrow">
        <div class="grid grid-pad">
            <div class="content">
                <h1 id="tools_title">
                    उपकरण<br />
                    उस काम <br />
                    <span id="tools_sub">
                        जीवन सरल उपकरणों के बिना मुश्किल है
                    </span> 
                </h1>
                <img src="../images/tools.jpg">
            </div>
        </div>
    </div>

<script>
    $("#tools_title").fitText(.65, {
        maxFontSize: '170px'
    });
    $("#tools_sub").fitText(.65, {
        maxFontSize: '40px'
    });
</script>
</section>
