
/* 
* Author: @pathumego 
* 
*/

/* Paper Articler*/

#tools {
    display: block;
    margin: 0px auto 0 auto;
    width: 100%;
    max-width: 1200px;
    background: #000;
    height: 100%;
    overflow: hidden;  
}
#tools .font_name {
    color: #fff;
    display: inline-block;
    padding: 10px;
    background: rgb(242, 161, 36);
    position: absolute;
    margin-left: 60px;
    z-index: 1000;
}
#tools .font_name a {
    color: #fff; 
}
#tools .grid-pad {
    padding: 0;
}
#tools .grid {
    max-width: 1200px;
}
#tools h1 {
    font-family: 'Teko';
    font-weight: 700;
    line-height: 1;
    font-size: 60px;
    color: #fff;
    position: absolute;
    padding: 60px;
    width: 100%;
    text-align: center;
    margin-top: 100px;
}
#tools h1 span {  
    font-family: 'Teko';
    font-weight: 500;
    color: #000;
    background: #fff;
    padding: 10px 30px 5px 30px;
}
#tools img {
    margin-bottom: -5px;
    width: 100%;
}
@media only screen and (max-width: 480px) {

}

@media (min-width: 480px) and (max-width: 767px) {
   

  
}