<div class="font_links">
    <div class="shadow_top"></div>
</div>

<section id="twain" class='specimen'>
<div class="font_name">
        <a href="https://www.google.com/fonts/specimen/Rajdhani" target="_blank">
            Rajdhani
        </a>
    </div>
 
        <div class="grid grid-pad">
        <div class="col-12-12">



            <div class="col-1-2">
                <h1 class="twain_title">
                    Your time is limited, so don’t waste it living someone else’s life. Don’t be trapped by dogma – which is living with the results of other people’s thinking. Don’t let the noise of other’s opinions drown out your own inner voice. And most important, have the courage to follow your heart and intuition. They somehow already know what you truly want to become. Everything else is secondary.
              <br />   <span class="jobs_quote"> - Steve Jobs, Commencement address at Stanford University in 2005. 
 
   </span>     
                </h1>
         
            </div>
            
            <div class="col-1-2">
                <h1  class="twain_title">
        
                    आपका समय सीमित है, इसलिए इसे किसी और की जिंदगी जी कर व्यर्थ मत कीजिये. बेकार की सोच में मत फंसिए,अपनी जिंदगी को दूसरों के हिसाब से मत चलाइए. औरों के विचारों के शोर में अपनी अंदर की आवाज़ को, अपने इन्ट्यूशन को मत डूबने दीजिए. वे पहले से ही जानते हैं की तुम सच में क्या बनना चाहते हो. बाकि सब गौड़ है.
               <br />   <span class="jobs_quote"> - स्टीव जाब्स </span>
                    
                </h1>
         
            </div>
        </div>
    </div>
       

<script>
    $(".twain_title").fitText(1.3);
    
   
</script>
</section>
