 {% include html_start.html %}

    <style>
     
                {% include hindi/interconnect.hi.css %}
                {% include hindi/copying.hi.css %}
                {% include hindi/icecream.hi.css %}
                {% include hindi/icecream2.hi.css %}
                {% include hindi/swan.hi.css %}
                {% include hindi/gnat-bull.hi.css %}
                {% include hindi/oak.hi.css %}
                {% include hindi/rivers.hi.css %}
                {% include hindi/the-fox-and-the-grapes.hi.css %}
                {% include hindi/two-bags.hi.css %}
                {% include hindi/moon-mother.hi.css %}
                {% include hindi/eleven.hi.css %}
                {% include hindi/rabbit.hi.css %}
                {% include hindi/bull-jackel.hi.css %}
                {% include hindi/gajraj.hi.css %}
                {% include hindi/drums.hi.css %}
                {% include hindi/stupid-ass.hi.css %}
                {% include hindi/copying.hi.css %}
                {% include hindi/talkative-turtle.hi.css %}
                {% include hindi/enemy-advice.hi.css %}
                {% include hindi/fools-learn.hi.css %}
                {% include hindi/golu-molu.hi.css %}
                {% include hindi/lion-jackel.hi.css %}
                {% include hindi/guests.hi.css %}
                {% include hindi/jackel.hi.css %}
                {% include hindi/quotes/Jean.hi.css %}
                {% include hindi/quotes/Gertrude.hi.css %}
                {% include hindi/quotes/Henry.hi.css %}
                {% include hindi/quotes/Horace.hi.css %}
                {% include hindi/quotes/James.hi.css %}
                {% include hindi/quotes/Lucius.hi.css %}
                {% include hindi/quotes/Marshall.hi.css %}
                {% include hindi/quotes/Michelangelo.hi.css %}
                {% include hindi/quotes/Oscar.hi.css %}        
                {% include hindi/quotes/Isaac.hi.css %}
                {% include hindi/quotes/Scott.hi.css %}
                {% include hindi/quotes/Carroll.hi.css %}
                {% include hindi/quotes/Ralph.hi.css %}
                {% include hindi/quotes/Jackson.hi.css %}
                {% include hindi/quotes/John.hi.css %}
                {% include hindi/quotes/Marc.hi.css %}
                {% include hindi/quotes/Henri.hi.css %}
                {% include hindi/quotes/Ludwig.hi.css %}
                {% include hindi/quotes/eorgia.hi.css %}
    
    </style>
    
</head>

                {% include home.html %}
               
  

  

<body>

             
                {% include hindi/bull-jackel.hi.html %}
                {% include hindi/copying.hi.html %}
                {% include hindi/icecream.hi.html %}
                {% include hindi/icecream2.hi.html %}
                {% include hindi/swan.hi.html %}
                {% include hindi/interconnect.hi.html %}
                {% include hindi/gnat-bull.hi.html %}
                {% include hindi/oak.hi.html %}
                {% include hindi/rivers.hi.html %}
                {% include hindi/the-fox-and-the-grapes.hi.html %}
                {% include hindi/two-bags.hi.html %}
                {% include hindi/moon-mother.hi.html %}
                {% include hindi/eleven.hi.html %}
                {% include hindi/rabbit.hi.html %}
                {% include hindi/bull-jackel.hi.html %}
                {% include hindi/gajraj.hi.html %}
                {% include hindi/drums.hi.html %}
                {% include hindi/stupid-ass.hi.html %}
                {% include hindi/copying.hi.html %}
                {% include hindi/talkative-turtle.hi.html %}
                {% include hindi/enemy-advice.hi.html %}
                {% include hindi/fools-learn.hi.html %}
                {% include hindi/golu-molu.hi.html %}
                {% include hindi/lion-jackel.hi.html %}
                {% include hindi/guests.hi.html %}
                {% include hindi/jackel.hi.html %}
                {% include hindi/quotes/Jean.hi.html %}
                {% include hindi/quotes/Gertrude.hi.html %}
                {% include hindi/quotes/Henry.hi.html %}
                {% include hindi/quotes/Horace.hi.html %}
                {% include hindi/quotes/James.hi.html %}
                {% include hindi/quotes/Lucius.hi.html %}
                {% include hindi/quotes/Marshall.hi.html %}
                {% include hindi/quotes/Michelangelo.hi.html %}
                {% include hindi/quotes/Oscar.hi.html %}        
                {% include hindi/quotes/Isaac.hi.html %}
                {% include hindi/quotes/Scott.hi.html %}
                {% include hindi/quotes/Carroll.hi.html %}
                {% include hindi/quotes/Ralph.hi.html %}
                {% include hindi/quotes/Jackson.hi.html %}
                {% include hindi/quotes/John.hi.html %}
                {% include hindi/quotes/Marc.hi.html %}
                {% include hindi/quotes/Henri.hi.html %}
                {% include hindi/quotes/Ludwig.hi.html %}
                {% include hindi/quotes/eorgia.hi.html %}
  </body>  
    </html>