/* 
* @Author: Bhargav Krishna
* @Date:   2014-09-16 23:27:10
* @Last Modified by:   Bhargav Krishna
* @Last Modified time: 2014-09-17 01:06:42
*/
.section-bull-jackel {
	font-family: 'Laila', serif;line-height: 1.5;
	background-color: #101010;
	color: #999;
	color: rgba(255,255,255,0.75);
	background-image: url(../images/forest.jpg);
	background-size: cover;
	background-attachment: fixed;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	-webkit-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
}
.section-bull-jackel .container {
	width: 100%;
	overflow: hidden;
	padding: 40px 180px 140px;
	background-color: rgba(0,0,0,0.45);
	box-sizing: border-box;
}
.section-bull-jackel .caption {
	margin-bottom: 40px;
	margin-left: 0;
}
.section-bull-jackel h2 {
	font-size: 40px;
	font-weight: 300;
	margin-bottom: 10px;
	color: #FFF;
}
.section-bull-jackel p {
	font-size: 20px;
	font-weight: 300;
}
.section-bull-jackel .col {
	max-width: 420px;
	float: right;
}

/* ---------------------- */
/* Device-specific styles */
/* ---------------------- */

/* Sub-tablet <768px */
@media (max-width: 768px) {
	.section-bull-jackel .col {float: none;}
	.section-bull-jackel .container {background-color: rgba(0,0,0,0.75);padding-left:40px;padding-right:40px;padding-bottom:100px;}

}
