/* Number of columns: 8 */
/* Percentage width of a single column: 12.5% */
/* Base unit of measurement: 20px */
.section-interconnect {	background-color: rgba(241, 90, 36, 1); padding: calc(2 * 20px); }
.section-interconnect h2 { color: white; font-family: 'Vesper Libre', serif; font-size: 20px; line-height: 1.8em; margin-bottom: calc(4 * 20px); margin-top: calc(2 * 20px); text-align: center; text-transform: uppercase; }
.section-interconnect h2 span {	display: inline-block; outline: 1px solid white; padding: 1em; }
.section-interconnect .container {	width: 80%; }
.section-interconnect .container p { font-family: 'Vesper Libre', serif; font-size: 24px; margin-bottom: calc(4 * 20px); }
.section-interconnect .container p.drop-p { }
.section-interconnect em { color: white; display: block; font-family: 'Old Standard TT', serif; font-size: 24px; text-align: center; margin-bottom: calc(4 * 20px); }
.section-interconnect ul { font-family: 'Vesper Libre', serif; font-size: 14px; list-style-type: none; margin-bottom: calc(2 * 20px); padding: 0; text-align: center; }
.section-interconnect li { line-height: 2.2em; }
.section-interconnect li.label { font-family: 'Questrial', sans-serif; text-transform: uppercase; }
.section-interconnect hr { width: 5%; border: 1px solid black; margin-bottom: calc(2 * 20px); }
.section-interconnect a { color: black;	text-decoration: none; }
.section-interconnect a:hover {	border-bottom: 1px solid black; }

/* Styles for Astronomer */

/* Small devices (tablets, > 768px) */
@media (min-width: 769px) {

	.section-interconnect { padding: calc(20px); }
	.section-interconnect h2 { margin-bottom: calc(8 * 20px); margin-top: calc(4 * 20px); }
	.section-interconnect .container p { font-size: 24px; }
	.section-interconnect .container .drop-p { color: white; font-size: 12px; float: left; line-height: 1.4em; margin-bottom: 0; margin-right: calc(3 * 20px); margin-top: calc(1 * 20px); width: 33.3%; }
	.section-interconnect em { font-size: 18px; margin-bottom: calc(8 * 20px); }
	.section-interconnect hr { width: 2.5%;	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.section-interconnect .container p { font-size: 35px; }
	.section-interconnect .container .drop-p { font-size: 15px; line-height: 1.8em; margin-bottom: 0; margin-top: calc(1 * 20px); margin-right: calc(4 * 20px); }
	.section-interconnect em { font-size: 24px; }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.section-interconnect {	padding: calc(20px);	}
	.section-interconnect h2 { margin-bottom: calc(2 * 20px);	margin-top: calc( 20px);	}
	.section-interconnect .container p { font-size: 45px; margin-bottom: calc(2 * 20px);	}
	.section-interconnect .container .drop-p { font-size: 36px; line-height: 1.8em;	}
	.section-interconnect em { font-size: 36px; margin-bottom: calc(2 * 20px); }
}

/* Large devices (extra large desktops, 1440px and up) */
@media (min-width: 1440px) {
	.section-interconnect .container p { font-size: 40px;	}
}
