.section-oak { padding: 30px 20px 200px 20px; }
.section-oak .container { text-align: center; }
.section-oak .caption { margin-bottom: 0; text-align: left; }
.section-oak h2 { font: 24px/24px 'Rajdhani', serif; text-transform: uppercase; text-align: center; color: #c31; margin: 20px 20px 30px; }
.section-oak p { font: 16px/24px 'Rajdhani', serif; color: #333; width: 460px; text-align: justify; margin: 0 auto;}
.section-oak .oak-leaf { margin-top: 60px; }

/* ---------------------- */
/* Device-specific styles */
/* ---------------------- */

/* Sub-tablet <768px */
@media (max-width: 768px) {
	.section-oak .container { width: 100%; }
	.section-oak p { max-width: 460px; width: auto; padding: 0 20px; }
}
