
.section-moon-mother .container {	width: 85%;}
.section-moon-mother { background-color: #212221; padding: 60px 0 120px 0; color: #9d9e9d; }
.section-moon-mother .caption a:hover { color: #000; text-align: left; -webkit-font-smoothing:antialiased; text-rendering:optimizeLegibility; } 
.section-moon-mother h2 { font: 34px/30px 'Glegoo', 'Glegoo'; color: #865; margin: 0 auto; text-transform: uppercase; padding: 14px 0 13px 0; border-top: 4px double #676767; border-bottom: 4px double #676767; }
.section-moon-mother h2 span { font: 300 16px 'Glegoo', Helvetica, Arial; margin: 0 5px 0 3px; color: #555; letter-spacing: .05em; }
.section-moon-mother p { color: #9d9e9d; margin: 0 auto; }
.section-moon-mother .black-ital { font: italic 900 130px/90px 'Glegoo', Georgia, serif; margin-bottom: 12px; display: block; }
.section-moon-mother .ital { font: italic 400 60px/60px 'Glegoo', Georgia, serif; margin: 0 0 8px 6px; display: block; }
.section-moon-mother .small-cap { font: 400 18px/36px 'Glegoo', Georgia, serif; letter-spacing: .17em; margin: 0 0 0 12px; text-transform: uppercase; display: block; }
.section-moon-mother .reg { font: 400 46px/40px 'Glegoo', Georgia, serif; display: block; margin: 0 0 0 -10px; }
.section-moon-mother .bold-ital { font: italic 700 43px/56px 'Glegoo', Georgia, serif; display: block; }
.section-moon-mother .bold { font: 400 23px/36px 'Glegoo', Georgia, serif; display: block; margin-left: 8px; }
.section-moon-mother strong { text-transform: uppercase; font-weight: 900; letter-spacing: .15em; font-size: 18px; margin: 0 3px; }
.section-moon-mother .black { font: 900 39px/32px 'Glegoo', Georgia, serif; margin-left: 4px; display: block; }

/* ---------------------- */
/* Device-specific styles */
/* ---------------------- */

/* Sub-tablet <768px */
@media (max-width: 768px) {

	.section-moon-mother .container { width: 100%; }
	.section-moon-mother .container .caption { width: 280px; margin-left: 40px; }
	.section-moon-mother h2, .section-moon-mother p { width: 320px; }
	.section-moon-mother h2 { font-size: 32px; text-align: center; }
	.section-moon-mother h2 span { display: block; }
	.section-moon-mother .black-ital { font-size: 120px; }
	.section-moon-mother .small-cap { font-size: 13px; line-height: 15px; margin: 0 auto 4px auto; }
	.section-moon-mother .reg { font-size: 42px; }
	.section-moon-mother .bold-ital	{ font-size: 60px; }
	.section-moon-mother .bold { line-height: 24px; margin: 4px auto; }
	.section-moon-mother .black { font-size: 42px; line-height: 40px; }
}